<script setup lang="ts">
import { VgButton } from "@gurso/vg-ui"

function play() {
	const el = document.querySelector<SVGSVGElement>("#canvas svg")
	el?.unpauseAnimations()
}
function pause() {
	const el = document.querySelector<SVGSVGElement>("#canvas svg")
	el?.pauseAnimations()
}
</script>

<template>
	<div class="flex border border-gray-400 rounded-xl overflow-hidden cursor-pointer">
		<VgButton class="py-2 px-3 bg-gray-200 hover:bg-gray-300" @click="play"> play </VgButton>
		<VgButton class="py-2 px-3 bg-gray-200 hover:bg-gray-300" @click="pause"> Pause </VgButton>
	</div>
</template>
