<script setup lang="ts">
import { computed } from "vue"
import { Animation } from "../types/Animation"
import { AnimateTransform } from "../models/AnimateTransform"

type Props = { animate: Animation }
const props = defineProps<Props>()

const values = computed(() => props.animate.values.join(";") || undefined)
</script>

<template>
	<template v-if="animate.isActive">
		<animateTransform
			v-if="animate instanceof AnimateTransform"
			v-bind="animate.attrs"
			:values="values"
			:data-uuid="animate.uuid"
		/>
		<animate v-else v-bind="animate.attrs" :values="values" :data-uuid="animate.uuid" />
	</template>
</template>
