<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue"
import { VgInputNumber, VgInput, VgButton, VgInputCheckbox, VgCheckLabel } from "@gurso/vg-ui"
import { Animate } from "../models/Animate"
import { AnimateTransform } from "../models/AnimateTransform"
import { select } from "../store/selected"

import CloseIcon from "./icons/CloseIcon.vue"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

const animate = defineModel<Animate>({ required: true })

const isTransform = computed(() => animate.value instanceof AnimateTransform)
const targetAttr = computed(() =>
	animate.value instanceof AnimateTransform ? animate.value.attrs.type : animate.value.attrs.attributeName,
)

const infinite = computed({
	get() {
		return animate.value.attrs.repeatCount === "indefinite"
	},
	set(b: boolean) {
		animate.value.attrs.repeatCount = b ? "indefinite" : undefined
	},
})
const repeatCount = computed({
	get() {
		return Number(animate.value.attrs.repeatCount) || 0
	},
	set(n: number) {
		animate.value.attrs.repeatCount = n
	},
})
function addValue() {
	animate.value.values.push(animate.value.values.at(-1) ?? 0)
}
function rmValue(i: number) {
	animate.value.values.splice(i, 1)
}

const disabledCtrl = computed(
	() =>
		(animate.value.values.length < 2 && !animate.value.attrs.to && !animate.value.attrs.from) ||
		!animate.value.attrs.dur,
)

const el = ref(document.querySelector<SVGAnimateElement>(`[data-uuid="${animate.value.uuid}"]`)!)
const currentTime = ref(0)
let interval: number
function onEvent() {
	currentTime.value = 0
}

onMounted(() => {
	currentTime.value = 0
	const timeout = 100
	interval = setInterval(() => {
		currentTime.value += timeout / 1000
	}, timeout)

	el.value.addEventListener("beginEvent", onEvent)
	el.value.addEventListener("repeatEvent", onEvent)
})

onUnmounted(() => {
	clearInterval(interval)

	el.value.removeEventListener("beginEvent", onEvent)
	el.value.removeEventListener("repeatEvent", onEvent)
})
</script>

<template>
	<BaseForm class="border border-gray-200 rounded-lg p-2 flex flex-col gap-1">
		<h2 v-if="isTransform">AnimateTransform on {{ targetAttr }}</h2>
		<h2 v-else>Animate on {{ targetAttr }}</h2>

		<BaseFieldset :disabled="disabledCtrl" legend="Control">
			<div class="flex items-center">
				<VgButton class="btn" :disabled="!animate.isActive" @click="el.beginElement()"> restart </VgButton>
				<VgCheckLabel v-model="animate.isActive" class="btn"> {{ animate.isActive ? "on" : "off" }}</VgCheckLabel>
			</div>
		</BaseFieldset>

		<BaseFieldset legend="Duration">
			<div class="flex items-center">
				<label for="dur" class="block"> secondes </label>
				<VgInputNumber id="dur" v-model="animate.attrs.dur" required class="" />
			</div>
			<div class="flex justify-between">
				<label for="infinite" class="flex items-center gap-1 cursor-pointer">
					<VgInputCheckbox id="infinite" v-model="infinite" />
					infinite
				</label>
				<label v-if="!infinite" class="block">
					reapeat
					<VgInputNumber v-model="repeatCount" :disabled="infinite" />
				</label>
			</div>
		</BaseFieldset>

		<BaseFieldset :disabled="animate.values.length > 0" legend="Scope">
			<label> from <VgInput v-model="animate.attrs.from" /></label>
			<label> to <VgInput v-model="animate.attrs.to" /></label>
			<label> by <VgInput v-model="animate.attrs.by" /></label>
		</BaseFieldset>

		<BaseFieldset legend="Values">
			<div v-for="(_, i) of animate.values" :key="i" class="flex items-center gap-2">
				<VgInput v-model="animate.values[i]" class="min-w-0 grow" />
				<VgButton class="btn" @click="rmValue(i)">
					<CloseIcon :size="8" />
				</VgButton>
			</div>
			<VgButton class="btn" @click="addValue"> add + </VgButton>
		</BaseFieldset>

		<BaseFieldset legend="Select Tag">
			<VgButton class="btn" @click="select(animate)">Select</VgButton>
		</BaseFieldset>
	</BaseForm>
</template>
