<script setup lang="ts">
import { computed } from "vue"
import { Shape } from "../models"
import CloseIcon from "./icons/CloseIcon.vue"
import { AnimateTransform } from "../models/AnimateTransform"
import { Animate } from "../models/Animate"
import { Animation } from "../types/Animation"

type Props = { shape: Shape; transform?: boolean }
const props = defineProps<Props>()
const model = defineModel<Animate>()

const list = computed(() =>
	props.shape.animates.filter(animate =>
		props.transform ? animate instanceof AnimateTransform : !(animate instanceof AnimateTransform),
	),
)

function toggle(animate: Animate) {
	model.value = model.value === animate ? undefined : animate
}

function rmAnimate(animate: Animation) {
	const i = props.shape.animates.indexOf(animate)
	props.shape.animates.splice(i, 1)
	if (model.value === animate) model.value = undefined
}
</script>

<template>
	<ul class="flex flex-col gap-1">
		<li
			v-for="animate of list"
			:key="animate.id"
			:class="{ 'bg-gray-200 hover:bg-gray-200': animate === model }"
			class="flex items-center justify-between px-2 py-1 rounded-lg cursor-pointer hover:bg-gray-100"
			@click="toggle(animate)"
		>
			{{ animate.uuid }}
			<CloseIcon
				:size="12"
				class="cursor-pointer transition-all text-gray:600 hover:text-black hover:scale-125"
				@click.stop="rmAnimate(animate)"
			/>
		</li>
	</ul>
</template>
