<script setup lang="ts">
import { ref, computed } from "vue"
import { VgInput, VgButton } from "@gurso/vg-ui"
import { Attrs } from "../mods/attrs"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import CloseBtn from "./CloseBtn.vue"

const attrs = defineModel<Attrs>({ required: true })

const key = ref("")
const s = ref("")

const list = computed(() => Object.entries(attrs.value).filter(([k]) => s.value === "" || k.includes(s.value)))

function addAttr() {
	attrs.value[key.value] = ""
	key.value = ""
}

function rmAttr(k: string) {
	const tmp = attrs.value
	delete tmp[k]
	attrs.value = tmp
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Search">
			<VgInput v-model="s" type="search" />
		</BaseFieldset>

		<BaseFieldset legend="Raw attributes">
			<div v-for="[k] of list" :key="k" class="flex items-center gap-1">
				<label class="min-w-10 text-right">{{ k }}</label>
				<VgInput v-model="attrs[k]" class="grow" />
				<CloseBtn @click="rmAttr(k)" />
			</div>
		</BaseFieldset>

		<BaseFieldset legend="add">
			<div class="flex gap-2">
				<VgInput v-model="key" class="grow" />
				<VgButton class="btn" @click="addAttr"> add </VgButton>
			</div>
		</BaseFieldset>
	</BaseForm>
</template>
