<script setup lang="ts">
import { computed, useTemplateRef } from "vue"
import { useDropZone, useElementBounding } from "@vueuse/core"
import { Coord } from "../types/Shape"
import { Circle } from "../models/Circle"
import { parseSvgStr } from "../mods/file"
import { x, y, svg } from "../store/canvas"
import { grid } from "../store/settings"
import { zoom } from "../store/zoom"
import { creating, cursorCSS, create, parent } from "../store/creating"
import { clean, noding } from "../store/selected"
import { useSvg } from "../composables/useSvg"

import ScaleCtrl from "./ScaleCtrl.vue"
import ChildrenPreview from "./ChildrenPreview.vue"

svg.value.attrs.width = svg.value.attrs.height = 360

const canvas = useTemplateRef("canvas")
const main = useTemplateRef("main")
const { left, top } = useElementBounding(main)

const gridSizeForCSS = computed(() => `${grid.value.x}px ${grid.value.y}px`)

const { isOverDropZone } = useDropZone(canvas, {
	onDrop(files) {
		const [file] = files ?? []
		if (file) {
			const fr = new FileReader()
			fr.onerror = e => console.error(e)
			fr.onload = e => {
				if (typeof e.target?.result === "string") {
					svg.value = parseSvgStr(e.target?.result)
				}
			}
			fr.readAsText(file)
		}
	},
	dataTypes: ["image/svg+xml"],
})

function onMd(e: MouseEvent) {
	if (creating.value) {
		create(parent.value ?? svg.value)
	} else if (e.target === e.currentTarget) {
		creating.value = undefined
		clean()
	}
}

function onMove(e: MouseEvent) {
	x.value = e.clientX - left.value
	y.value = e.clientY - top.value
}
const { viewBox, viewBoxIsValid, isSelected } = useSvg(svg)

function onScale(ratios: Coord) {
	svg.value.scale(ratios)
}
const hasCircleChild = computed(() => svg.value.someDescendant(c => c instanceof Circle))
const mode = computed(() => (hasCircleChild.value ? "max" : undefined))
</script>

<template>
	<div
		id="canvas"
		ref="canvas"
		class="relative w-[200%] h-[200%] flex"
		:class="[{ 'bg-grid': grid.show, 'drag-overed': isOverDropZone, cursor: creating || noding }]"
		@mousemove="onMove"
		@mousedown="onMd"
	>
		<svg
			ref="main"
			v-bind="svg.attrs"
			class="m-auto overflow-visible bg-white/55"
			:class="{ 'opacity-50': isOverDropZone }"
		>
			<title v-if="svg.title">{{ svg.title }}</title>
			<ChildrenPreview v-model="svg" />
			<template v-if="isSelected">
				<rect
					v-bind="viewBox"
					:class="viewBoxIsValid ? 'fill-green-200/50 stroke-green-600' : 'fill-red-200/50 stroke-red-600'"
					stroke-width="1px"
				/>
				<ScaleCtrl v-bind="viewBox" :mode="mode" @scale="onScale" />
			</template>
			<g id="ctrls" />
		</svg>
	</div>
</template>

<style scoped>
#canvas {
	min-height: 400px;
	outline: 1px solid black;
	background-color: #0001;
	--grid-color: #ddd;
}
#canvas.bg-grid {
	background-size: v-bind(gridSizeForCSS);
	/* background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
	background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}
#canvas.drag-overed {
	--grid-color: #aaa;
}
svg {
	scale: v-bind(zoom);
	box-shadow: 0 0 0 1px #aaa;
}

#canvas.cursor {
	cursor: v-bind(cursorCSS);
}
</style>
