<script setup lang="ts">
import { HasChildren } from "../models/HasChildren"

const model = defineModel<HasChildren>({ required: true })
</script>

<template>
	<template v-for="child of model.children" :key="child.id">
		<component :is="child.component" v-if="!child.hidden" :model-value="child" />
	</template>
</template>
