<script setup lang="ts">
import { ref } from "vue"
import { VgInputNumber, VgButton } from "@gurso/vg-ui"
import { Circle } from "../models/Circle"
import { Animation } from "../types/Animation"
import { Animate } from "../models/Animate"

import AnimateForm from "./AnimateForm.vue"
import AnimateList from "./AnimateList.vue"
import ShapeForm from "./ShapeForm.vue"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

const circle = defineModel<Circle>({ required: true })

const animate = ref<Animation>()
function addAnimate(attributeName: string) {
	const a = new Animate(attributeName)
	a.setAttrs({ repeatCount: "indefinite" })
	circle.value.animates.push(a)
	animate.value = a
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Attributes">
			<div class="flex items-center">
				<label for="r" class="min-w-5 text-right cursor-pointer mr-2"> r </label>
				<VgInputNumber id="r" v-model="circle.attrs.r" class="grow rounded-r-none!" />
				<VgButton class="btn rounded-l-none!" @click="addAnimate('r')"> @+ </VgButton>
			</div>

			<div class="flex items-center">
				<label for="cx" class="min-w-5 text-right cursor-pointer mr-2"> cx </label>
				<VgInputNumber id="cx" v-model="circle.attrs.cx" class="grow rounded-r-none!" />
				<VgButton class="btn rounded-l-none!" @click="addAnimate('cx')"> @+ </VgButton>
			</div>

			<div class="flex items-center">
				<label for="cy" class="min-w-5 text-right cursor-pointer mr-2"> cy </label>
				<VgInputNumber id="cy" v-model="circle.attrs.cy" class="grow rounded-r-none!" />
				<VgButton class="btn rounded-l-none!" @click="addAnimate('cy')"> @+ </VgButton>
			</div>
		</BaseFieldset>

		<BaseFieldset v-if="circle.animates.length" legend="Animates">
			<AnimateList v-model="animate" :shape="circle" />
		</BaseFieldset>
	</BaseForm>

	<ShapeForm :shape="circle" @animate="addAnimate" />

	<AnimateForm v-if="animate" v-model="animate" />
</template>
