<script setup lang="ts">
import { computed } from "vue"
import { Circle } from "../models/Circle"
import { useShape } from "../composables/useShape"
import { onMouseMoveUntilUp } from "../mods/dom"
import { useCursor } from "../composables/useCursor"
import { serializePathD } from "../mods/path"

import CtrlPoint from "./CtrlPoint.vue"
import ScaleCtrl from "./ScaleCtrl.vue"
import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"

const model = defineModel<Circle>({ required: true })

const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox, isSelected } = useShape(model)
const { zoomed: zoomedCursorCoord } = useCursor()

const d = computed(() => serializePathD(model.value.motion?.path.commands ?? []))

function onRMouseDown() {
	onMouseMoveUntilUp(() => {
		model.value.attrs.r = Math.abs(model.value.attrs.cy - zoomedCursorCoord.value.y)
	})
}
</script>
<template>
	<circle v-bind="model.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		<AnimationChild v-for="animate of model.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="model.motion && !isSelected" v-bind="model.motion.attrs" :path="d" />
	</circle>

	<template v-if="isSelected">
		<MotionPreview v-if="model.motion" :shape="model" />
		<ScaleCtrl v-bind="viewBox" mode="max" @scale="onScale" />
		<Teleport to="#ctrls">
			<CtrlPoint :cx="model.attrs.cx" :cy="model.attrs.cy - model.attrs.r" @mousedown="onRMouseDown" />
		</Teleport>
	</template>
</template>
