<script setup lang="ts">
import { VgButton } from "@gurso/vg-ui"
import CloseIcon from "./icons/CloseIcon.vue"

type Props = { size?: number | `${number}` }
withDefaults(defineProps<Props>(), { size: 12 })
</script>

<template>
	<VgButton class="btn"><CloseIcon :size="size" /></VgButton>
</template>
