<script setup lang="ts">
import { computed, ref, useTemplateRef } from "vue"
import { useClipboard } from "@vueuse/core"
import { VgButton, VgTextarea } from "@gurso/vg-ui"
import { svg } from "../store/canvas"
import { parseSvgStr } from "../mods/file"

const dialog = useTemplateRef("dialog")
const source = ref("")
const { copy } = useClipboard({ source })
const url = computed(() => {
	const blob = new Blob([svg.value.toString()], { type: "image/svg+xml" })
	return window.URL.createObjectURL(blob)
})
const backgroundImage = computed(() => `url('${url.value}')`)
const { copy: copyUrl } = useClipboard({ source: url })

function open() {
	source.value = svg.value.toString().replaceAll(/><(?!\/)/g, ">\n<")
	dialog.value?.showModal()
}

function onImportCode() {
	svg.value = parseSvgStr(source.value)
	dialog.value?.close()
}
</script>

<template>
	<VgButton
		class="btn absolute top-2 right-2 bg-gray-200 border border-gray-400! rounded-xl overflow-hidden shadow-xl"
		@click="open"
	>
		code
	</VgButton>

	<dialog ref="dialog" class="w-4/5 p-5 rounded-lg whitespace-normal" @click="dialog?.close()">
		<div class="flex gap-4 mb-4" @click.stop>
			<VgButton class="btn" @click="copy()">Copy</VgButton>
			<VgButton class="btn" @click="onImportCode"> Apply </VgButton>
			<VgButton class="btn" @click="copyUrl()"> copy URL </VgButton>
		</div>
		<VgTextarea
			v-model="source"
			class="block min-h-96 w-full p-5 bg-black text-white rounded-lg overflow-auto"
			@click.stop
		/>
		<!-- <div class="url"></div> -->
	</dialog>
</template>

<style scoped>
.url {
	height: 360px;
	background-repeat: repeat;
	background-position: 0 0;
	background-size: cover;
	background-image: v-bind(backgroundImage);
}
</style>
