<script setup lang="ts">
import { computed, ref } from "vue"
import { VgInputNumber, VgInputCheckbox, VgButton } from "@gurso/vg-ui"
import { IsCommand } from "../types/IsCommand"
import { CommandName } from "../mods/commands"
import { Path } from "../models"
import { CommandArc } from "../models/CommandArc"
import { CommandCubic } from "../models/CommandCubic"
import { CommandLine } from "../models/CommandLine"
import { CommandMove } from "../models/CommandMove"
import { CommandHorizontal } from "../models/CommandHorizontal"
import { CommandVertical } from "../models/CommandVertical"
import { CommandShortCubic } from "../models/CommandShortCubic"
import { CommandQuadratic } from "../models/CommandQuadratic"
import { CommandShortQuadratic } from "../models/CommandShortQuadratic"
import { CommandZ } from "../models/CommandZ"
import { useCommand } from "../composables/useCommand"
import { COMMAND_NAMES } from "../mods/commands"

const model = defineModel<IsCommand>({ required: true })
const props = defineProps<{ path: Path }>()
const path = ref(props.path)

const { cx, cy, isAbsolute } = useCommand(model, props.path)
const previous = computed(() => props.path.getCommandBefore(model.value))
const { cx: previousCx, cy: previousCy } = useCommand(previous, props.path)
const commandNames = computed(() =>
	COMMAND_NAMES.filter(c => c !== "t" || previous.value?.name.toLowerCase() === "q").map(c =>
		isAbsolute.value ? (c.toUpperCase() as CommandName) : c,
	),
)

function getNewCommand(name: CommandName) {
	switch (name) {
		case "C":
		case "c":
			return new CommandCubic({ x: cx.value, y: cy.value })
		case "A":
		case "a":
			return new CommandArc({ x: cx.value, y: cy.value })
		case "L":
		case "l":
			return new CommandLine({ x: cx.value, y: cy.value })
		case "M":
		case "m":
			return new CommandMove({ x: cx.value, y: cy.value })
		case "H":
		case "h":
			return new CommandHorizontal({ x: cx.value })
		case "S":
		case "s":
			return new CommandShortCubic({ x: cx.value, y: cy.value })
		case "T":
		case "t":
			return new CommandShortQuadratic({ x: cx.value, y: cy.value })
		case "Q":
		case "q":
			return new CommandQuadratic({ x: cx.value, y: cy.value })
		case "V":
		case "v":
			return new CommandVertical({ y: cy.value })
		case "Z":
		case "z":
			return new CommandZ()
	}
}
function setAbs() {
	if ("x" in model.value) model.value.x = cx.value
	if ("y" in model.value) model.value.y = cy.value
	if ("ctrls" in model.value) {
		for (const ctrl of model.value.ctrls) {
			ctrl.x += previousCx.value
			ctrl.y += previousCy.value
		}
	}
	model.value.name = model.value.name.toUpperCase() as CommandName
}
function setRel() {
	if ("x" in model.value) model.value.x = cx.value - previousCx.value
	if ("y" in model.value) model.value.y = cy.value - previousCy.value
	if ("ctrls" in model.value) {
		for (const ctrl of model.value.ctrls) {
			ctrl.x -= previousCx.value
			ctrl.y -= previousCy.value
		}
	}
	model.value.name = model.value.name.toLowerCase() as CommandName
}
function setCommand(name: CommandName) {
	const c = getNewCommand(name)
	const i = props.path.commands.findIndex(c => c.id === model.value.id)
	if (i >= 0) {
		path.value.commands.splice(i, 1, c)
	}
	model.value = c
}
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>Name and position</legend>
			<div class="flex flex-wrap gap-3">
				<VgButton
					v-for="c of commandNames"
					:key="c"
					class="btn rounded-full! font-semibold"
					:class="{ alt: c === model.name }"
					@click="setCommand(c)"
				>
					{{ c }}
				</VgButton>
			</div>

			<div class="flex gap-2">
				<VgButton class="btn grow" :disabled="isAbsolute" @click="setAbs">ABS</VgButton>
				<VgButton class="btn grow" :disabled="!isAbsolute" @click="setRel">rel</VgButton>
			</div>

			<div class="flex items-center gap-2">
				<VgInputNumber v-if="'x' in model" v-model="model.x" required class="grow" />
				<VgInputNumber v-if="'y' in model" v-model="model.y" required class="grow" />
			</div>
		</fieldset>

		<fieldset
			v-if="model instanceof CommandArc"
			class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg"
		>
			<div class="flex gap-2">
				<VgInputNumber v-model="model.rx" class="grow" />
				<VgInputNumber v-model="model.ry" class="grow" />
			</div>
			<label> xAxisRotation <VgInputNumber v-model="model.xAxisRotation" /> </label>
			<label> <VgInputCheckbox v-model="model.largeArcFlag" /> largeArcFlag </label>
			<label> <VgInputCheckbox v-model="model.sweepFlag" /> sweepFlag </label>
		</fieldset>

		<fieldset v-else-if="'ctrls' in model" class="flex flex-col gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>Ctrls</legend>
			<div v-for="ctrl of model.ctrls" :key="ctrl.id" class="flex gap-2 m-1">
				<VgInputNumber v-model="ctrl.x" class="grow" />
				<VgInputNumber v-model="ctrl.y" class="grow" />
			</div>
		</fieldset>
	</form>
</template>
