<script setup lang="ts">
import { computed } from "vue"
import { CommandCubic } from "../models/CommandCubic"
import { Ctrl } from "../models/Ctrl"
import { Path } from "../models"
import { Coord } from "../types/Shape"
import { useCommand } from "../composables/useCommand"
import { onMouseMoveUntilUp } from "../mods/dom"
import { useCursor } from "../composables/useCursor"
import CtrlPoint from "./CtrlPoint.vue"

type Props = { path: Path; command: CommandCubic; offset?: Coord }
const props = defineProps<Props>()

const { cx, cy, isSelected, onCommandMouseDown, strokeWidth } = useCommand(props.command, props.path, props.offset)
const { zoomed: zoomedCursorCoord } = useCursor()
const previous = computed(() => {
	const p = props.path.getCommandBefore(props.command)
	if (!p) throw new Error("No Command before")
	return p
})
const { cx: previousCx, cy: previousCy } = useCommand(previous.value, props.path)

function onCommandMd(ctrl: Ctrl) {
	onMouseMoveUntilUp(() => {
		ctrl.x = zoomedCursorCoord.value.x
		ctrl.y = zoomedCursorCoord.value.y
	})
}
</script>

<template>
	<CtrlPoint :selected="isSelected" :cx="cx" :cy="cy" @mousedown.exact="onCommandMouseDown(command)" />
	<template v-if="isSelected">
		<line
			v-if="previous"
			stroke="gray"
			:stroke-width="strokeWidth"
			:x1="command.ctrls[0].x"
			:y1="command.ctrls[0].y"
			:x2="previousCx"
			:y2="previousCy"
		/>
		<line
			stroke="gray"
			:stroke-width="strokeWidth"
			:x1="command.ctrls[1].x"
			:y1="command.ctrls[1].y"
			:x2="cx"
			:y2="cy"
		/>
		<template v-for="ctrl of command.ctrls" :key="ctrl.id">
			<CtrlPoint fill="green" :cx="ctrl.x" :cy="ctrl.y" @mousedown="onCommandMd(ctrl)" />
		</template>
	</template>
</template>
