<script setup lang="ts">
import { useCommand } from "../composables/useCommand"
import { CommandArc } from "../models/CommandArc"
import { Path } from "../models"
import { Coord } from "../types/Shape"
import { onMouseMoveUntilUp } from "../mods/dom"
import { useCursor } from "../composables/useCursor"
import CtrlPoint from "./CtrlPoint.vue"

type Props = { path: Path; command: CommandArc; offset?: Coord }
const props = defineProps<Props>()

const { cx, cy, isSelected, onCommandMouseDown } = useCommand(props.command, props.path, props.offset)
const { zoomed: zoomedCursorCoord } = useCursor()

function onCtrlMd(c: CommandArc) {
	onMouseMoveUntilUp(() => {
		c.rx = zoomedCursorCoord.value.x
		c.ry = zoomedCursorCoord.value.y
	})
}
</script>

<template>
	<CtrlPoint :selected="isSelected" :cx="cx" :cy="cy" @mousedown.exact="onCommandMouseDown(command)" />
	<template v-if="isSelected">
		<CtrlPoint fill="green" :cx="command.rx" :cy="command.ry" @mousedown.stop="onCtrlMd(command)" />
	</template>
</template>
