<script setup lang="ts">
import { CommandLine } from "../models/CommandLine"
import { Coord } from "../types/Shape"
import { Path } from "../models"
import CtrlPoint from "./CtrlPoint.vue"
import { useCommand } from "../composables/useCommand"

type Props = { path: Path; command: CommandLine; offset?: Coord }
const props = defineProps<Props>()

const { cx, cy, isSelected, onCommandMouseDown } = useCommand(props.command, props.path, props.offset)
</script>

<template>
	<CtrlPoint :selected="isSelected" :cx="cx" :cy="cy" @mousedown.exact="onCommandMouseDown(command)" />
</template>
