<script setup lang="ts">
import { computed } from "vue"
import { useRatio } from "../composables/useViewbox"
import { useZoom } from "../composables/useZoom"

type Props = {
	cx: number
	cy: number
	selected?: boolean
	mode?: "right" | "left" | "top" | "bottom" | "circle" | "cross" | "square" | "bottom-right" | "diamand" | "square"
}
const props = defineProps<Props>()

const { x: v } = useRatio(5)
const { unZoomed: r } = useZoom(v)
const size = computed(() => r.value * 2)
const color = computed(() => (props.selected ? "blue" : "red"))
const x = computed(() => props.cx - r.value)
const y = computed(() => props.cy - r.value)
const transformOrigin = computed(() => `${props.cx}px ${props.cy}px`)
const points = computed(() => {
	switch (props.mode) {
		case "right":
			return `${props.cx + size.value} ${props.cy}, ${props.cx} ${props.cy - size.value}, ${props.cx} ${props.cy + size.value}`
		case "left":
			return `${props.cx - size.value} ${props.cy}, ${props.cx} ${props.cy - size.value}, ${props.cx} ${props.cy + size.value}`
		case "top":
			return `${props.cx} ${props.cy - size.value}, ${props.cx - size.value} ${props.cy}, ${props.cx + size.value} ${props.cy}`
		case "bottom":
			return `${props.cx} ${props.cy + size.value}, ${props.cx - size.value} ${props.cy}, ${props.cx + size.value} ${props.cy}`
		case "bottom-right":
			return `${props.cx} ${props.cy}, ${props.cx} ${props.cy - size.value}, ${props.cx - size.value} ${props.cy}`
		case "diamand":
		default:
			return `${props.cx - r.value} ${props.cy}, ${props.cx} ${props.cy + r.value}, ${props.cx + r.value} ${props.cy}, ${props.cx} ${props.cy - r.value},`
	}
})
</script>

<template>
	<rect v-if="mode === 'square'" :x="x" :y="y" :fill="color" :width="size" :height="size" class="el" />
	<polyline v-else-if="mode" :points="points" :fill="color" class="el" />
	<circle v-else :cx="cx" :cy="cy" :fill="color" :r="r" class="el" />
</template>

<style scoped>
.el {
	transform-origin: v-bind(transformOrigin);
	transition: scale linear 150ms;
	stroke: none;
}

.el:hover {
	scale: 1.8;
}
.el.active,
.el:active {
	opacity: 0.5;
}
</style>
