<script setup lang="ts">
import { computed } from "vue"
import { svg } from "../store/canvas"
import type { AConstructorTypeOf } from "../models/HasChildren"
import { Defs } from "../models/Defs"

const defs = computed(() => svg.value.listOf(Defs as unknown as AConstructorTypeOf<Defs>))
</script>

<template>
	<div>
		<ul>
			<li v-for="def in defs" :key="def.id">{{ def.name }}</li>
		</ul>
	</div>
</template>
