<script setup lang="ts">
import { Defs } from "../models/Defs"
import ChildrenPreview from "./ChildrenPreview.vue"

const model = defineModel<Defs>({ required: true })
</script>

<template>
	<defs v-bind="model.attrs">
		<ChildrenPreview v-model="model" />
	</defs>
</template>
