<script setup lang="ts">
import { VgInput } from "@gurso/vg-ui"
import { Defs } from "../models/Defs"

const defs = defineModel<Defs>({ required: true })
</script>

<template>
	<form>
		<fieldset>
			<legend>Defs</legend>
			<VgInput v-model="defs.attrs.id" />
		</fieldset>
	</form>
</template>
