<script setup lang="ts">
import { ref } from "vue"
import { VgInputNumber, VgButton } from "@gurso/vg-ui"
import { Ellipse } from "../models/Ellipse"
import { Animation } from "../types/Animation"
import { Animate } from "../models/Animate"

import AnimateList from "./AnimateList.vue"
import AnimateForm from "./AnimateForm.vue"
import ShapeForm from "./ShapeForm.vue"

const ellipse = defineModel<Ellipse>({ required: true })

const animate = ref<Animation>()
function addAnimate(attributeName: string) {
	const a = new Animate(attributeName)
	a.setAttrs({ repeatCount: "indefinite" })
	ellipse.value.animates.push(a)
	selectAnimate(a)
}
function selectAnimate(a?: Animation) {
	animate.value = a
}
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Attributes</legend>
			<div class="flex items-center gap-1">
				<label for="rx" class="min-w-10 text-right">rx</label>
				<VgInputNumber id="rx" v-model="ellipse.attrs.rx" class="grow" />
				<VgButton class="btn" @click="addAnimate('rx')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="ry" class="min-w-10 text-right">ry</label>
				<VgInputNumber id="ry" v-model="ellipse.attrs.ry" class="grow" />
				<VgButton class="btn" @click="addAnimate('ry')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="cx" class="min-w-10 text-right">cx</label>
				<VgInputNumber id="cx" v-model="ellipse.attrs.cx" class="grow" />
				<VgButton class="btn" @click="addAnimate('cx')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="cy" class="min-w-10 text-right">cy</label>
				<VgInputNumber id="cy" v-model="ellipse.attrs.cy" class="grow" />
				<VgButton class="btn" @click="addAnimate('cy')"> @+ </VgButton>
			</div>
		</fieldset>

		<fieldset
			v-if="ellipse.animates.length"
			class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg"
		>
			<legend class="ml-3 px-2">Animate</legend>
			<AnimateList v-model="animate" :shape="ellipse" @select="selectAnimate" />
		</fieldset>
	</form>

	<AnimateForm v-if="animate" v-model="animate" />

	<ShapeForm :shape="ellipse" />
</template>
