<script setup lang="ts">
import { computed } from "vue"
import { Ellipse } from "../models/Ellipse"
import { useShape } from "../composables/useShape"
import { onMouseMoveUntilUp } from "../mods/dom"
import { serializePathD } from "../mods/path"
import { useCursor } from "../composables/useCursor"

import CtrlPoint from "./CtrlPoint.vue"
import ScaleCtrl from "./ScaleCtrl.vue"
import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"

const ellipse = defineModel<Ellipse>({ required: true })
const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox, isSelected } = useShape(ellipse)
const { zoomed: zoomedCursorCoord } = useCursor()

const d = computed(() => serializePathD(ellipse.value.motion?.path.commands ?? []))

function onRyMouseDown() {
	onMouseMoveUntilUp(() => {
		ellipse.value.attrs.ry = Math.abs(ellipse.value.attrs.cy - zoomedCursorCoord.value.y)
	})
}
function onRxMouseDown() {
	onMouseMoveUntilUp(() => {
		ellipse.value.attrs.rx = Math.abs(ellipse.value.attrs.cx - zoomedCursorCoord.value.x)
	})
}
</script>

<template>
	<ellipse v-bind="ellipse.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		<AnimationChild v-for="animate of ellipse.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="ellipse.motion && !isSelected" v-bind="ellipse.motion.attrs" :path="d" />
	</ellipse>

	<MotionPreview v-if="ellipse.motion && isSelected" :shape="ellipse" />

	<Teleport to="#ctrls">
		<CtrlPoint
			v-if="isSelected"
			:cx="ellipse.attrs.cx"
			:cy="ellipse.attrs.cy - ellipse.attrs.ry"
			@mousedown="onRyMouseDown"
		/>
		<CtrlPoint
			v-if="isSelected"
			:cx="ellipse.attrs.cx - ellipse.attrs.rx"
			:cy="ellipse.attrs.cy"
			@mousedown="onRxMouseDown"
		/>
	</Teleport>
	<ScaleCtrl v-if="isSelected" v-bind="viewBox" @scale="onScale" />
</template>
