<script setup lang="ts">
import { onMounted, ref, useTemplateRef } from "vue"
import { VgFilesDrop, VgButton, VgInput, VgRadioLabel, VgInputNumber } from "@gurso/vg-ui"
import { dl } from "../mods/dl"
import { parseSvgStr } from "../mods/file"
import { svg } from "../store/canvas"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import BaseBtn from "./atoms/BaseBtn.vue"

const fileName = ref(svg.value.title.trim().replaceAll(/\s+/g, "-"))

const ext = ref<"svg" | "png">("svg")

const pngUrl = ref<string>()
const width = ref(0)
const height = ref(0)
function fit() {
	width.value = svg.value.attrs.width
	height.value = svg.value.attrs.height
}
onMounted(fit)

function onImport(files: File[]) {
	const fr = new FileReader()
	fr.onload = e => {
		if (typeof e.target?.result === "string") {
			svg.value = parseSvgStr(e.target?.result)
		}
	}
	if (files[0]) fr.readAsText(files[0])
}

async function onExport() {
	const svgStr = svg.value.toString()

	const fullName = fileName.value + "." + ext.value
	if (ext.value === "svg") dl(fullName, svgStr, "application/svg+xml")
	else {
		const svgDataUrl = "data:image/svg+xml;," + encodeURIComponent(svgStr)

		const image = new Image()
		image.onload = () => {
			const canvas = document.createElement("canvas")
			canvas.setAttribute("width", width.value.toString())
			canvas.setAttribute("height", height.value.toString())
			const context = canvas.getContext("2d")!
			context.drawImage(image, 0, 0, width.value, height.value)

			pngUrl.value = canvas.toDataURL("image/png")
		}

		image.onerror = e => {
			console.error(e)
		}

		image.src = svgDataUrl
	}
}

const url = ref("")
const urlInfo = useTemplateRef("urlInfo")
async function fetchFile() {
	const res = await fetch(url.value)
	const txt = await res.text()
	svg.value = parseSvgStr(txt)
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Import">
			<VgFilesDrop
				accept=".svg,image/svg+xml"
				name="import"
				class="cursor-pointer text-center py-4 border border-dashed border-gray-200 rounded-lg"
				@update:model-value="onImport"
			>
				Drop or click
			</VgFilesDrop>

			<label class="flex items-center gap-2">
				By url
				<VgInput ref="urlInfo" v-model="url" type="url" class="grow" />
				<BaseBtn :disabled="!url || !urlInfo?.valid" @click="fetchFile">Fetch</BaseBtn>
			</label>
		</BaseFieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Export</legend>
			<div class="flex items-stretch">
				<label class="self-center"> file name: </label>
				<VgInput v-model="fileName" class="rounded-r-none!" />
				<VgRadioLabel v-model="ext" name="ext" value="svg" class="btn rounded-none!" :class="{ alt: ext === 'svg' }">
					svg
				</VgRadioLabel>
				<VgRadioLabel v-model="ext" name="ext" value="png" class="btn rounded-l-none!" :class="{ alt: ext === 'png' }">
					png
				</VgRadioLabel>
			</div>

			<VgButton class="btn" :disabled="!fileName && ext === 'svg'" @click="onExport">Export</VgButton>

			<div v-if="ext === 'png'" class="flex items-end gap-2">
				<div class="grow flex flex-col">
					<label for="width">width</label>
					<VgInputNumber id="width" v-model="width" class="max-w-32 w-auto!" />
				</div>
				<div class="grow flex flex-col">
					<label> height </label>
					<VgInputNumber v-model="height" class="w-auto! max-w-32" />
				</div>
				<VgButton class="btn grow min-w-16" @click="fit"> fit </VgButton>
			</div>

			<img v-if="pngUrl" :src="pngUrl" alt="" />
		</fieldset>
	</BaseForm>
</template>
