<script setup lang="ts">
import { computed, ref, watch } from "vue"
import { VgRadioLabel, VgButton } from "@gurso/vg-ui"
import { StyleSheetTag } from "../models/StyleSheet"
import { AConstructorTypeOf, HasChildren } from "../models/HasChildren"
import { Tag } from "../models/Tag"
import { selected } from "../store/selected"
import { svg } from "../store/canvas"

import FileForm from "./FileForm.vue"
import TagsForm from "./TagsForm.vue"
import SettingsForm from "./SettingsForm.vue"
import TreeMenu from "./TreeMenu.vue"
import ChevronIcon from "./icons/ChevronIcon.vue"
import StyleSheetForm from "./StyleSheetForm.vue"
import SelectedForm from "./forms/SelectedForm.vue"

const tag = ref<Tag>()
const shapeFormTitle = ref("")
const target = ref("")
const tree = ref<HasChildren>(svg.value)

const stylesSheet = computed(() => svg.value.listOf(StyleSheetTag as unknown as AConstructorTypeOf<StyleSheetTag>))

const path = computed(() => [...svg.value.getPathTo(tree.value), tree.value])

watch(selected, () => {
	if (selected.value.length === 1) {
		tag.value = selected.value[0]
		shapeFormTitle.value = tag.value?.name ?? ""
	} else {
		tag.value = undefined
	}
})

watch(
	svg,
	parent => {
		tree.value = parent
	},
	{ immediate: true },
)
</script>

<template>
	<div>
		<div class="flex gap-1 text-center pb-3 mb-3 border-b border-gray-200">
			<VgRadioLabel
				v-model="target"
				name="form"
				value="svg"
				:class="{ selected: target === 'svg' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				Svg
			</VgRadioLabel>
			<VgRadioLabel
				v-model="target"
				name="form"
				value="tree"
				:class="{ selected: target === 'tree' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				Tree
			</VgRadioLabel>
			<VgRadioLabel
				v-model="target"
				name="form"
				value="file"
				:class="{ selected: target === 'file' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				File
			</VgRadioLabel>
			<VgRadioLabel
				v-model="target"
				name="form"
				value="selection"
				:class="{ selected: target === 'selection' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				Selection
			</VgRadioLabel>
			<VgRadioLabel
				v-if="selected.length === 1"
				v-model="target"
				name="form"
				value="shape"
				:class="{ selected: target === 'shape' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				{{ shapeFormTitle }}
			</VgRadioLabel>
			<VgRadioLabel
				v-if="stylesSheet.length"
				v-model="target"
				name="form"
				value="style"
				:class="{ selected: target === 'style' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				Style
			</VgRadioLabel>
			<VgRadioLabel
				v-model="target"
				name="form"
				value="settings"
				:class="{ selected: target === 'settings' }"
				class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
			>
				Settings
			</VgRadioLabel>
		</div>

		<!-- <SvgForm v-if="target === 'svg'" v-model="svg" /> -->
		<TagsForm v-if="target === 'svg'" v-model="svg" />
		<template v-else-if="target === 'tree'">
			<div v-if="svg !== tree" class="flex items-center">
				<template v-for="t of path" :key="t.id">
					<ChevronIcon v-if="t !== svg" size="12" class="origin-center mr-1 -rotate-90 translate-y-[1px]" />
					<VgButton class="btn" @click="tree = t"> {{ t.name }} </VgButton>
				</template>
			</div>
			<TreeMenu :parent="tree" @browse="tree = $event" />
		</template>
		<FileForm v-else-if="target === 'file'" />
		<SelectedForm v-else-if="target === 'selection'" />
		<TagsForm v-else-if="tag && target === 'shape'" v-model="tag" />
		<template v-else-if="target === 'style' && stylesSheet.length">
			<StyleSheetForm v-for="s of stylesSheet" :key="s.id" :shape="s" />
		</template>
		<SettingsForm v-else-if="target === 'settings'" />
	</div>
</template>

<style scoped>
@reference "../style.css";

.selected {
	@apply font-bold bg-gray-200 relative;

	&:before {
		content: "";
		@apply h-3 w-[1px] bg-gray-200 absolute top-full left-1/2 translate-y-[1px] -translate-x-1/2;
	}
}
</style>
