<script setup lang="ts">
import { VgButton } from "@gurso/vg-ui"
import { G } from "../models/G"
import { svg } from "../store/canvas"
import { select } from "../store/selected"

import ShapeForm from "./ShapeForm.vue"

const g = defineModel<G>({ required: true })

function ungroup() {
	const parent = g.value.getParent(svg.value)
	if (parent) {
		parent.rm(g.value)
		parent.children.push(...g.value.children)
		select(...g.value.children)
	}
}
</script>

<template>
	<form>
		<fieldset>
			<legend>Group</legend>
			<label class="block"> ungroup : </label>
			<VgButton class="btn" @click="ungroup">ungroup</VgButton>
		</fieldset>
	</form>
	<ShapeForm :shape="g" />
</template>
