<script setup lang="ts">
import { VgButton } from "@gurso/vg-ui"
import GrabIcon from "./icons/GrabIcon.vue"

type Props = { size?: number | `${number}` }
withDefaults(defineProps<Props>(), { size: 24 })
</script>

<template>
	<VgButton>
		<GrabIcon :size="size" />
	</VgButton>
</template>
