<script setup lang="ts">
import { computed, ref, useTemplateRef } from "vue"
import { Gradient, Stop } from "../models/Gradient"
import { onMouseMoveUntilUp } from "../mods/dom"
import { clamp } from "../mods/nb"

const parent = useTemplateRef("parent")
const gradient = defineModel<Gradient>({ required: true })
const bg = computed(() => gradient.value.toCss())
const grabbed = ref<Stop>()

function startDrag(stop: Stop) {
	const bcr = parent.value!.getBoundingClientRect()
	grabbed.value = stop
	onMouseMoveUntilUp(
		(ev: MouseEvent) => {
			const y = ev.clientY - bcr.top
			stop.offset = clamp(0, y / bcr.height, 1)
		},
		() => (grabbed.value = undefined),
	)
}
</script>

<template>
	<div ref="parent" class="bg aspect-square relative outline outline-1 outline-gray-400">
		<div
			v-for="stop of gradient.stops"
			:key="stop.offset"
			class="absolute h-[1px] w-full left-0 bg-gray-600"
			:style="{ top: `${stop.offset * 100}%` }"
		>
			<div
				class="absolute right-full flex items-center gap-1 -translate-y-2 cursor-grab"
				:class="{ 'cursor-grabbing': grabbed === stop }"
				@mousedown="startDrag(stop)"
			>
				<span> + </span>
				<input v-model="stop.color" type="color" class="w-2! h-2! aspect-square! cursor-pointer" />
			</div>
		</div>
	</div>
</template>

<style scoped>
.bg {
	background: v-bind(bg);
}
</style>
