<script setup lang="ts">
import { computed } from "vue"
import { Gradient } from "../models/Gradient"
import { svg } from "../store/canvas"
import { AConstructorTypeOf } from "../models/HasChildren"

const emit = defineEmits<{
	(e: "select", g: Gradient): void
}>()

const gradients = computed(() => svg.value.listOf(Gradient as unknown as AConstructorTypeOf<Gradient>))

function select(g: Gradient) {
	emit("select", g)
}
</script>

<template>
	<ul class="flex flex-wrap gap-1">
		<li
			v-for="g of gradients"
			:key="g.id"
			class="w-10 h-10 cursor-pointer rounded-lg"
			:style="{ background: g.toCss() }"
			@click.self="select(g)"
		></li>
	</ul>
</template>

<style scoped>
.selected {
	outline: solid 2px purple;
}
</style>
