<script setup lang="ts">
import { Gradient } from "../models/Gradient"

const model = defineModel<Gradient>({ required: true })
</script>

<template>
	<linearGradient v-if="model.type === 'linear'" v-bind="model.attrs">
		<stop
			v-for="stop of model.stops"
			:key="stop.offset"
			:offset="stop.offset"
			:stop-color="stop.color"
			:stop-opacity="stop.opacity"
		/>
	</linearGradient>
	<radialGradient v-else v-bind="model.attrs">
		<stop v-for="stop of model.stops" :key="stop.offset" :offset="stop.offset" :stop-color="stop.color" />
	</radialGradient>
</template>
