<script setup lang="ts">
import { useTemplateRef } from "vue"
import { VgInput, VgInputNumber, VgRadioLabel, VgButton } from "@gurso/vg-ui"
import { Gradient, Stop } from "../models/Gradient"

import CloseIcon from "./icons/CloseIcon.vue"
import GradientCreator from "./GradientCreator.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import BaseForm from "./atoms/BaseForm.vue"

const gradient = defineModel<Gradient>({ required: true })
const dialog = useTemplateRef("dialog")

function rmStop(stop: Stop) {
	const i = gradient.value.stops.indexOf(stop)
	gradient.value.stops.splice(i, 1)
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Gradient">
			<label> id: <VgInput v-model="gradient.attrs.id" /> </label>

			<div class="flex items-center gap-2">
				<VgRadioLabel
					v-model="gradient.type"
					name="type"
					value="linear"
					class="field grow text-center cursor-pointer"
					:class="{ selected: gradient.type === 'linear' }"
				>
					linear
				</VgRadioLabel>
				<VgRadioLabel
					v-model="gradient.type"
					name="type"
					value="radial"
					class="field grow text-center cursor-pointer"
					:class="{ selected: gradient.type === 'radial' }"
				>
					radial
				</VgRadioLabel>
			</div>
		</BaseFieldset>

		<BaseFieldset legend="Stops">
			<ul class="flex flex-col gap-1">
				<li>
					<VgButton class="btn w-full" @click="gradient.stops.unshift({ color: '#000000', offset: 0, opacity: 1 })">
						+
					</VgButton>
				</li>
				<li
					v-for="(stop, i) in gradient.stops"
					:key="i"
					class="flex justify-stretch items-center overflow-hidden rounded-xl"
				>
					<VgInput
						v-model="stop.color"
						type="color"
						class="h-10 border border-gray-200 grow items-stretch border-none rounded-none!"
					/>
					<VgInputNumber
						v-model="stop.offset"
						:min="gradient.stops[i - 1]?.offset ?? 0"
						:max="gradient.stops[i + 1]?.offset ?? 1"
						step="0.1"
						class="rounded-none!"
					/>
					<VgInputNumber v-model="stop.opacity" min="0" max="1" step="0.1" class="rounded-none!" />
					<VgButton :disabled="gradient.stops.length < 3" class="btn self-stretch rounded-none!" @click="rmStop(stop)">
						<CloseIcon size="12" />
					</VgButton>
				</li>
				<li>
					<VgButton class="btn w-full" @click="gradient.stops.push({ color: '#ffffff', offset: 1, opacity: 1 })">
						+
					</VgButton>
				</li>
			</ul>
		</BaseFieldset>

		<BaseFieldset legend="Radient Creator">
			<VgButton class="btn" @click="dialog?.showModal()"> open </VgButton>
			<dialog ref="dialog" class="p-32 relative rounded-xl select-none" @click="dialog?.close()">
				<GradientCreator v-model="gradient" class="w-80" @click.stop />
			</dialog>
		</BaseFieldset>
	</BaseForm>
</template>
