<script setup lang="ts">
import { computed } from "vue"
import { G } from "../models/G"
import { Circle } from "../models/Circle"
import { isSelected } from "../store/selected"
import { useShape } from "../composables/useShape"

import ScaleCtrl from "./ScaleCtrl.vue"
import ChildrenPreview from "./ChildrenPreview.vue"

const g = defineModel<G>({ required: true })

const selected = computed(() => isSelected(g.value))

const { onShapeMouseDown, onScale, viewBox } = useShape(g)

const hasCircleChild = computed(() => g.value.someDescendant(c => c instanceof Circle))
const mode = computed(() => (hasCircleChild.value ? "max" : undefined))
</script>

<template>
	<g v-bind="g.attrs">
		<ChildrenPreview v-model="g" />
	</g>

	<template v-if="selected">
		<rect v-bind="viewBox" fill="#0001" @mousedown="onShapeMouseDown" />
		<ScaleCtrl v-bind="viewBox" :mode="mode" @scale="onScale($event, mode)" />
	</template>
</template>
