<script setup lang="ts">
import { HasChildren } from "../models/HasChildren"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

defineProps<{ shape: HasChildren }>()
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Unknow element">
			<p>No form define for {{ shape.html }}</p>
		</BaseFieldset>
	</BaseForm>
</template>
