<script setup lang="ts">
import { HasChildren } from "../models/HasChildren"

const model = defineModel<HasChildren>({ required: true })
</script>

<template>
	<component :is="model.html" v-bind="model.attrs">
		<component :is="child.component" v-for="child of model.children" :key="child.id" :model="child" />
	</component>
</template>
