<script setup lang="ts">
import { useTemplateRef } from "vue"
import { VgButton } from "@gurso/vg-ui"
import { undo, redo, load, save, clear, history, isSelected, rm } from "../store/history"
import CloseBtn from "./CloseBtn.vue"

const dialog = useTemplateRef("dialog")
const el = useTemplateRef("el")

async function openModal() {
	dialog.value?.showModal()
	if (el.value) {
		el.value.scrollLeft = el.value.scrollWidth
	}
}
</script>

<template>
	<div
		class="absolute bottom-2 left-1/2 -translate-x-1/2 flex items-stretch bg-gray-200 border border-gray-400 rounded-xl overflow-hidden shadow-xl"
	>
		<VgButton class="btn" @click="undo">
			<img src="/icons/undo.svg" alt="undo icon" class="size-4" title="Undo" />
		</VgButton>
		<VgButton class="btn" @click="clear">
			<img src="/icons/bin.svg" alt="bin icon" class="size-4" title="Clear" />
		</VgButton>
		<VgButton class="btn" @click="save">
			<img src="/icons/save.svg" alt="save icon" class="size-4" title="Save" />
		</VgButton>
		<VgButton class="btn" :disabled="!history.length" @click="openModal">
			<img src="/icons/eye.svg" alt="eye icon" class="size-4" title="Preview" />
		</VgButton>
		<VgButton class="btn" @click="redo">
			<img src="/icons/redo.svg" alt="redo icon" class="size-4" title="Redo" />
		</VgButton>
	</div>
	<dialog ref="dialog" class="w-4/5 p-5 rounded-lg" @click="dialog?.close()">
		<ul
			ref="el"
			class="max-h-96 overflow-auto flex flex-reverse items-center gap-2 border border-gray-400 shadow-scroll"
		>
			<li v-for="(h, j) of history" :key="j" class="relative">
				<VgButton
					v-if="!isSelected(j)"
					class="btn absolute top-2 right-12 bg-gray-200 border border-gray-400! rounded-xl overflow-hidden shadow-xl"
					@click="load(j)"
				>
					Load
				</VgButton>
				<CloseBtn class="absolute top-2 right-2" @click.stop="rm(j)" />
				<div class="history-step" v-html="h"></div>
			</li>
		</ul>
	</dialog>
</template>

<style>
.history-step svg {
	border: solid 1px black;
}

.shadow-scroll {
	box-shadow:
		inset 9px 0px 12px -9px #999,
		inset -9px 0px 12px -9px #999;
}
</style>
