<script setup lang="ts">
import { useShape } from "../composables/useShape"
import { SvgImage } from "../models/SvgImage"

import ScaleCtrl from "./ScaleCtrl.vue"

const model = defineModel<SvgImage>({ required: true })

const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox, isSelected } = useShape(model)
</script>

<template>
	<image v-bind="model.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl" />
	<ScaleCtrl v-if="isSelected" v-bind="viewBox" @scale="onScale" />
</template>
