<script setup lang="ts">
import { VgInputNumber, VgFilesDrop, VgButton, VgCheckLabel } from "@gurso/vg-ui"
import { SvgImage } from "../models/SvgImage"
import { fileToBase64 } from "../mods/file"
import { svg } from "../store/canvas"
import { useSvg } from "../composables/useSvg"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import ShapeForm from "./ShapeForm.vue"

const image = defineModel<SvgImage>({ required: true })

const { viewBox } = useSvg(svg)

async function onImport(files: File[]) {
	const [file] = files
	if (file) {
		const b64 = await fileToBase64(file)
		image.value.attrs.href = b64
	}
}
function fullSize() {
	image.value.setAttrs(viewBox.value)
}
</script>

<template>
	<BaseForm @submit.prevent>
		<h1>Image</h1>

		<BaseFieldset legend="Import">
			<VgFilesDrop
				accept="image/*"
				name="img"
				class="cursor-pointer text-center py-4 border border-dashed border-gray-200 rounded-lg"
				@update:model-value="onImport"
			>
				Drop or click
			</VgFilesDrop>
		</BaseFieldset>

		<BaseFieldset>
			<VgCheckLabel v-model="image.ignore" class="btn" :class="{ alt: image.ignore }">
				<template v-if="image.ignore"> ignored </template>
				<template v-else> normal </template>
			</VgCheckLabel>
		</BaseFieldset>

		<BaseFieldset legend="Position">
			<VgButton class="btn" @click="fullSize">Full size</VgButton>

			<div class="flex items-center">
				<label for="x" class="min-w-5 text-right cursor-pointer mr-2"> x </label>
				<VgInputNumber id="x" v-model="image.attrs.x" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('r')"> @+ </VgButton> -->
			</div>
			<div class="flex items-center">
				<label for="y" class="min-w-5 text-right cursor-pointer mr-2"> y </label>
				<VgInputNumber id="y" v-model="image.attrs.y" class="grow rounded-r-none!" />
			</div>
			<div class="flex items-center">
				<label for="width" class="min-w-5 text-right cursor-pointer mr-2"> width </label>
				<VgInputNumber id="width" v-model="image.attrs.width" class="grow rounded-r-none!" />
			</div>
			<div class="flex items-center">
				<label for="height" class="min-w-5 text-right cursor-pointer mr-2"> height </label>
				<VgInputNumber id="height" v-model="image.attrs.height" class="grow rounded-r-none!" />
			</div>
		</BaseFieldset>
	</BaseForm>

	<ShapeForm :shape="image" />
</template>
