<script setup lang="ts">
// clock-value : https://developer.mozilla.org/en-US/docs/Web/SVG/Content_type#clock-value
import type { Timecount } from "../types/Animation"
import { ref, computed } from "vue"

const props = defineProps<{ modelValue: Timecount }>()
const emit = defineEmits<{
	(e: "update:modelValue", s: Timecount): void
}>()

const timecount = computed({
	get() {
		return props.modelValue
	},
	set(s: Timecount) {
		emit("update:modelValue", s)
	},
})

const field = ref()
</script>

<template>
	<VgInput ref="field" v-model="timecount" pattern="^\d+(\.\d+)?(h|min|s|ms)?" />
</template>
