<script setup lang="ts">
import { Line } from "../models/Line"
import { VgRadioLabel, VgInputNumber } from "@gurso/vg-ui"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import ShapeForm from "./ShapeForm.vue"

const line = defineModel<Line>({ required: true })
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Attributes">
			<div class="flex items-center gap-2">
				<label for="x1" class="min-w-10 text-right">x1</label>
				<VgInputNumber id="x1" v-model="line.attrs.x1" class="grow" />
			</div>
			<div class="flex items-center gap-2">
				<label for="x2" class="min-w-10 text-right">x2</label>
				<VgInputNumber id="x2" v-model="line.attrs.x2" class="grow" />
			</div>
			<div class="flex items-center gap-2">
				<label for="y1" class="min-w-10 text-right">y1</label>
				<VgInputNumber id="y1" v-model="line.attrs.y1" class="grow" />
			</div>
			<div class="flex items-center gap-2">
				<label for="y2" class="min-w-10 text-right">y2</label>
				<VgInputNumber id="y2" v-model="line.attrs.y2" class="grow" />
			</div>
			<div class="flex gap-1">
				<VgRadioLabel v-model="line.attrs['stroke-linecap']" name="linecap" value="butt" class="btn alt-check">
					butt
				</VgRadioLabel>
				<VgRadioLabel v-model="line.attrs['stroke-linecap']" name="linecap" value="round" class="btn alt-check">
					round
				</VgRadioLabel>
				<VgRadioLabel v-model="line.attrs['stroke-linecap']" name="linecap" value="square" class="btn alt-check">
					square
				</VgRadioLabel>
			</div>
		</BaseFieldset>
	</BaseForm>

	<ShapeForm :shape="line" />
</template>
