<script setup lang="ts">
import { Line } from "../models/Line"
import { useShape } from "../composables/useShape"
import { onMouseMoveUntilUp } from "../mods/dom"
import { useCursor } from "../composables/useCursor"

import CtrlPoint from "./CtrlPoint.vue"
import ScaleCtrl from "./ScaleCtrl.vue"
import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"
import { computed } from "vue"
import { serializePathD } from "../mods/path"

const model = defineModel<Line>({ required: true })

const d = computed(() => serializePathD(model.value.motion?.path.commands ?? []))

const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox, isSelected } = useShape(model.value)
const { zoomed: zoomedCursorCoord } = useCursor()

function onMouseDown1() {
	onMouseMoveUntilUp(() => {
		model.value.attrs.x1 = zoomedCursorCoord.value.x
		model.value.attrs.y1 = zoomedCursorCoord.value.y
	})
}
function onMouseDown2() {
	onMouseMoveUntilUp(() => {
		model.value.attrs.x2 = zoomedCursorCoord.value.x
		model.value.attrs.y2 = zoomedCursorCoord.value.y
	})
}
</script>

<template>
	<line v-bind="model.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		<AnimationChild v-for="animate of model.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="model.motion && !isSelected" v-bind="model.motion.attrs" :path="d" />
	</line>

	<template v-if="isSelected">
		<MotionPreview v-if="model.motion" :shape="model" />
		<ScaleCtrl v-bind="viewBox" @scale="onScale" />
		<rect v-bind="viewBox" fill="#0001" @mousedown="onShapeMouseDown" />
		<Teleport to="#ctrls">
			<CtrlPoint :cx="model.attrs.x1" :cy="model.attrs.y1" @mousedown="onMouseDown1" />
			<CtrlPoint :cx="model.attrs.x2" :cy="model.attrs.y2" @mousedown="onMouseDown2" />
		</Teleport>
	</template>
</template>
