<script setup lang="ts">
import { readonly } from "vue"
import { VgInput } from "@gurso/vg-ui"
import { Mask } from "../models/Mask"
import RadioList from "./molecules/RadioList.vue"

const mask = defineModel<Mask>({ required: true })
const maskUnits = readonly(["userSpaceOnUse", "objectBoundingBox"])
</script>

<template>
	<form>
		<fieldset>
			<legend>Options</legend>
			<VgInput v-model="mask.attrs.id" />

			<RadioList v-model="mask.attrs.maskUnits" name="maskUnits" :values="maskUnits" />
		</fieldset>
	</form>
</template>
