<script setup lang="ts">
import { Mask } from "../models/Mask"
import ChildrenPreview from "./ChildrenPreview.vue"

const model = defineModel<Mask>({ required: true })

// const gOrMask = ref<"g"|"mask">("mask")
</script>

<template>
	<mask v-bind="model.attrs">
		<ChildrenPreview v-model="model" />
	</mask>
</template>
