<script setup lang="ts">
import { computed } from "vue"
import { Attrs } from "../mods/attrs"
import { Shape } from "../models"
import { serializePathD } from "../mods/path"

import PathShape from "./PathShape.vue"

type Props = { shape: Shape; attrs?: Attrs }
const props = defineProps<Props>()

const d = computed(() => serializePathD(props.shape.motion?.path.commands ?? []))

const attrs = computed(() => ({ ...props.shape.attrs, ...props.attrs }))

const opacity = computed(() => (Number(props.shape.attrs.opacity) || 1) / 2)

const offset = computed(() => props.shape.getCoord())
const offsetTransform = computed(() => `translate(${offset.value.x} ${offset.value.y})`)
</script>

<template>
	<component :is="shape.html" v-bind="attrs" :opacity="opacity">
		<animateMotion v-if="shape.motion" v-bind="shape.motion.attrs" :path="d" />
	</component>

	<g :transform="offsetTransform">
		<PathShape v-if="shape.motion" v-model="shape.motion.path" motion :offset="offset" active />
	</g>
</template>
