<script setup lang="ts">
import { VgButton } from "@gurso/vg-ui"
import { Shape, AnimateMotion } from "../models"
import { CommandMove } from "../models/CommandMove"
import { noding } from "../store/selected"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import CloseBtn from "./CloseBtn.vue"
import PathForm from "./PathForm.vue"

type Props = { shape: Shape }
const props = defineProps<Props>()

function startMotion() {
	props.shape.motion = new AnimateMotion()
	props.shape.motion.path.commands.push(new CommandMove({ x: 0, y: 0 }))
	noding.value = props.shape.motion.path
}

function rmMotion() {
	delete props.shape.motion
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Motion">
			<template v-if="shape.motion">
				<CloseBtn @click="rmMotion" />
			</template>
			<VgButton v-else class="btn" @click="startMotion"> init </VgButton>
		</BaseFieldset>
	</BaseForm>

	<PathForm v-if="shape.motion" v-model="shape.motion.path" />
</template>
