<script setup lang="ts">
import { computed } from "vue"
import { VgInputNumber, VgRadioLabel, VgButton } from "@gurso/vg-ui"

const model = defineModel<string>({ required: true })
type Props = { units?: string[] }
withDefaults(defineProps<Props>(), { units: () => [] })

const value = computed({
	get() {
		return parseFloat(model.value?.toString() || "0")
	},
	set(v: number) {
		model.value = v + unit.value
	},
})
const unit = computed({
	get() {
		return model.value?.toString().replace(value.value.toString(), "")
	},
	set(u: string) {
		model.value = value.value + u
	},
})

function rmUnit() {
	model.value = value.value.toString()
}
</script>

<template>
	<div class="flex items-center">
		<VgInputNumber v-model="value" class="grow rounded-r-none!" />
		<template v-for="u of units" :key="u">
			<VgButton
				v-if="u === unit"
				class="btn font-bold rounded-none!"
				:class="{ 'rounded-r-md!': u === units.at(-1) }"
				@click="rmUnit"
			>
				{{ u }}
			</VgButton>
			<VgRadioLabel
				v-else
				v-model="unit"
				name="unit"
				:value="u"
				class="btn rounded-none!"
				:class="{ 'rounded-r-md!': u === units.at(-1) }"
			>
				{{ u }}
			</VgRadioLabel>
		</template>
	</div>
</template>
