<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue"
import { Coord } from "../types/Shape"
import { Path } from "../models"
import { CommandLine } from "../models/CommandLine"
import { CommandMove } from "../models/CommandMove"
import { CommandCubic } from "../models/CommandCubic"
import { CommandShortCubic } from "../models/CommandShortCubic"
import { CommandQuadratic } from "../models/CommandQuadratic"
import { CommandShortQuadratic } from "../models/CommandShortQuadratic"
import { CommandArc } from "../models/CommandArc"
import { useShape } from "../composables/useShape"
import { noding, isSelected } from "../store/selected"
import { serializePathD } from "../mods/path"
import { useCursor } from "../composables/useCursor"
import { svg } from "../store/canvas"

import ScaleCtrl from "./ScaleCtrl.vue"
import CommandMoveCtrl from "./CommandMoveCtrl.vue"
import CommandLineCtrl from "./CommandLineCtrl.vue"
import CommandArcCtrl from "./CommandArcCtrl.vue"
import CommandCubicCtrl from "./CommandCubicCtrl.vue"
import CommandShortCubicCtrl from "./CommandShortCubicCtrl.vue"
import CommandQuadraticCtrl from "./CommandQuadraticCtrl.vue"
import CommandShortQuadraticCtrl from "./CommandShortQuadraticCtrl.vue"
import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"

type Props = { active?: boolean; motion?: boolean; offset?: Coord }
const props = withDefaults(defineProps<Props>(), { offset: () => ({ x: 0, y: 0 }) })
const model = defineModel<Path>({ required: true })

const { zoomed: zoomedCursorCoord } = useCursor()
const active = computed(() => props.active || isSelected(model.value))
const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox } = useShape(model)
const d = computed(() => serializePathD(model.value.commands))
const isNoding = computed(() => noding.value === model.value)
const lastCreatedCommand = ref(model.value.commands.at(-1))
const lastCoords = computed(() => model.value.getAbsCoords(lastCreatedCommand.value))
const offsetTransform = computed(() => `translate(${props.offset.x} ${props.offset.y})`)

const motionD = computed(() => serializePathD(model.value.motion?.path.commands ?? []))

const onLeaveSvg = () => {
	noding.value = undefined
	if (model.value.commands.length <= 1) {
		svg.value.rm(model.value)
	}
}
const createNode = () => {
	if (isNoding.value) {
		const { x: _x, y: _y } = zoomedCursorCoord.value
		const x = _x - props.offset.x
		const y = _y - props.offset.y
		lastCreatedCommand.value = new CommandLine({ x, y })
		model.value.commands.push(lastCreatedCommand.value)
	}
}

onMounted(() => {
	document.getElementById("canvas")?.addEventListener("mouseleave", onLeaveSvg)
	document.getElementById("canvas")?.addEventListener("mousedown", createNode)
})

onUnmounted(() => {
	document.getElementById("canvas")?.removeEventListener("mouseleave", onLeaveSvg)
	document.getElementById("canvas")?.removeEventListener("mousedown", createNode)
})
</script>

<template>
	<path v-bind="model.attrs" :d="d" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		<AnimationChild v-for="animate of model.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="!motion && model.motion && !isSelected" v-bind="model.motion.attrs" :path="motionD" />
	</path>

	<template v-if="active">
		<MotionPreview v-if="!motion && model.motion" :shape="model" :attrs="{ d }" />
		<Teleport to="#ctrls">
			<g :transform="offsetTransform">
				<template v-for="command of model.commands" :key="command.id">
					<CommandMoveCtrl v-if="command instanceof CommandMove" :command="command" :path="model" :offset="offset" />
					<CommandLineCtrl
						v-else-if="command instanceof CommandLine"
						:command="command"
						:path="model"
						:offset="offset"
					/>
					<CommandCubicCtrl
						v-else-if="command instanceof CommandCubic"
						:command="command"
						:path="model"
						:offset="offset"
					/>
					<CommandShortCubicCtrl
						v-else-if="command instanceof CommandShortCubic"
						:command="command"
						:path="model"
						:offset="offset"
					/>
					<CommandQuadraticCtrl
						v-else-if="command instanceof CommandQuadratic"
						:command="command"
						:path="model"
						:offset="offset"
					/>
					<CommandShortQuadraticCtrl
						v-else-if="command instanceof CommandShortQuadratic"
						:command="command"
						:path="model"
						:offset="offset"
					/>
					<CommandArcCtrl v-else-if="command instanceof CommandArc" :command="command" :path="model" :offset="offset" />
				</template>
				<line
					v-if="lastCreatedCommand && isNoding"
					stroke="gray"
					stroke-width="2"
					:x1="lastCoords.x"
					:y1="lastCoords.y"
					:x2="zoomedCursorCoord.x - offset.x"
					:y2="zoomedCursorCoord.y - offset.y"
				/>
			</g>
		</Teleport>
		<ScaleCtrl v-bind="viewBox" :offset="offset" @scale="onScale" />
	</template>
</template>
