<script setup lang="ts">
import { computed, ref } from "vue"
import { VgInputCheckbox, VgButton, VgRadioLabel } from "@gurso/vg-ui"
import { Path } from "../models"
import { CommandZ } from "../models/CommandZ"
import { CommandLine } from "../models/CommandLine"
import { IsCommand } from "../types/IsCommand"
import { isSelectedCommand, selectCommand } from "../store/selected"
import { barryCenter } from "../mods/barryCenter"

import ShapeForm from "./ShapeForm.vue"
import CloseBtn from "./icons/CloseIcon.vue"
import { CommandName } from "../mods/commands"

const path = defineModel<Path>({ required: true })

const showCommands = ref(true)

const z = computed({
	get() {
		return path.value.commands.at(-1) instanceof CommandZ
	},
	set(v: boolean) {
		if (v) path.value.commands.push(new CommandZ())
		else path.value.commands.pop()
	},
})

function addCommand(path: Path, before: IsCommand) {
	const after = path.getCommandAfter(before)
	const coord = barryCenter(path.getAbsCoords(before), path.getAbsCoords(after))
	const command = new CommandLine(coord)
	const i = path.getIndexCommand(command)
	path.commands.splice(i, 0, command)
}

function setAllCommandsToAbs() {
	let previousX = 0,
		previousY = 0
	for (const command of path.value.commands) {
		if (!command.isAbs()) {
			const { x, y } = path.value.getAbsCoords(command)
			if ("x" in command) command.x = x
			if ("y" in command) command.y = y
			if ("ctrls" in command) {
				for (const ctrl of command.ctrls) {
					ctrl.x += previousX
					ctrl.y += previousY
				}
			}
			command.name = command.name.toUpperCase() as CommandName
		}
		previousX = command.x ?? previousX
		previousY = command.y ?? previousY
	}
}

function setAllCommandsToRel() {
	let previousX = 0,
		previousY = 0
	for (const command of path.value.commands) {
		const x = command.x ?? previousX
		const y = command.y ?? previousY
		if (command.isAbs()) {
			if ("x" in command) command.x = x - previousX
			if ("y" in command) command.y = y - previousY
			if ("ctrls" in command) {
				for (const ctrl of command.ctrls) {
					ctrl.x -= previousX
					ctrl.y -= previousY
				}
			}
			command.name = command.name.toLowerCase() as CommandName
		}
		previousX = x
		previousY = y
	}
}
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>Options</legend>
			<label> Close path <VgInputCheckbox v-model="z" /> </label>

			<div class="flex">
				<VgButton class="btn" @click="setAllCommandsToAbs">Set all commands in absolute</VgButton>
				<VgButton class="btn" @click="setAllCommandsToRel">Set all commands in relative</VgButton>
			</div>
			<div class="flex gap-1">
				<VgRadioLabel v-model="path.attrs['stroke-linecap']" name="linecap" value="butt" class="btn alt-check">
					butt
				</VgRadioLabel>
				<VgRadioLabel v-model="path.attrs['stroke-linecap']" name="linecap" value="round" class="btn alt-check">
					round
				</VgRadioLabel>
				<VgRadioLabel v-model="path.attrs['stroke-linecap']" name="linecap" value="square" class="btn alt-check">
					square
				</VgRadioLabel>
			</div>
		</fieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend @click="showCommands = !showCommands">Commands</legend>
			<ul v-if="showCommands" class="text-xs font-normal pl-2">
				<li
					v-for="command of path.commands"
					:key="command.id"
					class="p-1 flex items-center gap-2 rounded-lg cursor-pointer hover:bg-gray-100"
					:class="{ 'bg-gray-300 hover:bg-gray-300': isSelectedCommand(command) }"
					@click.stop="selectCommand(command)"
				>
					<b>
						{{ command.name }}
					</b>
					<span class="mr-auto">
						<template v-if="'x' in command">
							{{ command.x }}
						</template>
						&nbsp;
						<template v-if="'y' in command">
							{{ command.y }}
						</template>
					</span>
					<VgButton v-if="!path.isLastCommand(command)" @click="addCommand(path, command)"> + </VgButton>
					<CloseBtn size="8" @click="path.rmCommand(command)" />
				</li>
			</ul>
		</fieldset>
	</form>
	<ShapeForm :shape="path" />
</template>
