<script setup lang="ts">
import { computed } from "vue"
import { Point } from "../models/Point"
import { useCursor } from "../composables/useCursor"
import { onMouseMoveUntilUp } from "../mods/dom"
import { point } from "../store/selected"

import CtrlPoint from "./CtrlPoint.vue"

const props = defineProps({
	model: {
		type: Point,
		required: true,
	},
})

const { zoomed: zoomedCursorCoord } = useCursor()

const isSelected = computed(() => props.model.id === point.value?.id)

function onCommandMouseDown(c: Point) {
	c.mousedown(zoomedCursorCoord.value)
	point.value = c
	onMouseMoveUntilUp(() => {
		c.move(zoomedCursorCoord.value)
	})
}
</script>

<template>
	<Teleport to="#ctrls">
		<CtrlPoint :cx="model.x" :cy="model.y" :selected="isSelected" @mousedown.exact="onCommandMouseDown(model)" />
	</Teleport>
</template>
