<script setup lang="ts">
import { Point } from "../models/Point"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

const point = defineModel<Point>({ required: true })
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Attributes">
			<pre>{{ point }}</pre>
		</BaseFieldset>
	</BaseForm>
</template>
