<script setup lang="ts">
import { computed } from "vue"
import { VgRadioLabel } from "@gurso/vg-ui"
import { Poly } from "../models/Poly"

import ShapeForm from "./ShapeForm.vue"

const poly = defineModel<Poly>({ required: true })

const isPolygon = computed(() => poly.value.html === "polygon")

function tr(tag: "polyline" | "polygon") {
	poly.value.html = tag
}
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Options</legend>
			<div class="flex items-center text-center">
				<span class="grow cursor-pointer" :class="{ 'font-bold': isPolygon }" @click="tr('polygon')"> polygon </span>
				<span class="grow cursor-pointer" :class="{ 'font-bold': !isPolygon }" @click="tr('polyline')"> polyline </span>
			</div>
			<div class="flex gap-1">
				<VgRadioLabel v-model="poly.attrs['stroke-linecap']" name="linecap" value="butt" class="btn alt-check">
					butt
				</VgRadioLabel>
				<VgRadioLabel v-model="poly.attrs['stroke-linecap']" name="linecap" value="round" class="btn alt-check">
					round
				</VgRadioLabel>
				<VgRadioLabel v-model="poly.attrs['stroke-linecap']" name="linecap" value="square" class="btn alt-check">
					square
				</VgRadioLabel>
			</div>
		</fieldset>
	</form>
	<ShapeForm :shape="poly" />
</template>
