<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue"
import { Poly } from "../models/Poly"
import { Point } from "../models/Point"
import { noding } from "../store/selected"
import { svg } from "../store/canvas"
import { useShape } from "../composables/useShape"
import { serializePathD } from "../mods/path"
import { useCursor } from "../composables/useCursor"

import PointShape from "./PointShape.vue"
import ScaleCtrl from "./ScaleCtrl.vue"
import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"

const model = defineModel<Poly>({ required: true })

const { onShapeMouseDown, onMouseDownCtrl, onScale, viewBox, isSelected } = useShape(model)
const { zoomed: zoomedCursorCoord } = useCursor()
const lastCreatedPoint = ref<Point>()
const isNoding = computed(() => noding.value === model.value)

const points = computed(() => model.value.points.join(" "))

const d = computed(() => serializePathD(model.value.motion?.path.commands ?? []))

const onLeaveCanvas = () => {
	noding.value = undefined
	if (model.value.points.length <= 1) {
		svg.value.rm(model.value)
	}
}
const createNode = () => {
	if (isNoding.value) {
		const point = new Point(zoomedCursorCoord.value)
		model.value.points.push(point)
		lastCreatedPoint.value = point
	}
}

onMounted(() => {
	lastCreatedPoint.value = model.value.points[0]
	document.getElementById("canvas")?.addEventListener("mouseleave", onLeaveCanvas)
	document.getElementById("canvas")?.addEventListener("mousedown", createNode)
})

onUnmounted(() => {
	document.getElementById("canvas")?.removeEventListener("mouseleave", onLeaveCanvas)
	document.getElementById("canvas")?.removeEventListener("mousedown", createNode)
})
</script>

<template>
	<component
		:is="model.html"
		v-bind="model.attrs"
		:points="points"
		@mousedown.exact="onShapeMouseDown"
		@mousedown.ctrl="onMouseDownCtrl"
	>
		<AnimationChild v-for="animate of model.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="model.motion && !isSelected" v-bind="model.motion.attrs" :path="d" />
	</component>

	<template v-if="isSelected">
		<MotionPreview v-if="model.motion" :shape="model" :attrs="{ points }" />
		<ScaleCtrl v-bind="viewBox" @scale="onScale" />
		<PointShape v-for="point of model.points" :key="point.id" :model="point" />
	</template>

	<line
		v-if="lastCreatedPoint && isNoding"
		stroke="gray"
		stroke-width="2"
		:x1="lastCreatedPoint.x"
		:y1="lastCreatedPoint.y"
		:x2="zoomedCursorCoord.x"
		:y2="zoomedCursorCoord.y"
	/>
</template>
