<script setup lang="ts">
import { ref } from "vue"
import { Rect } from "../models/Rect"
import { VgInputNumber, VgButton } from "@gurso/vg-ui"
import { Animate } from "../models/Animate"
import { Animation } from "../types/Animation"

import AnimateList from "./AnimateList.vue"
import AnimateForm from "./AnimateForm.vue"
import ShapeForm from "./ShapeForm.vue"

const rect = defineModel<Rect>({ required: true })

const animate = ref<Animation>()
function addAnimate(attributeName: string) {
	const a = new Animate(attributeName)
	a.setAttrs({ repeatCount: "indefinite" })
	rect.value.animates.push(a)
	selectAnimate(a)
}
function selectAnimate(a?: Animation) {
	animate.value = a
}
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Attributes</legend>
			<div class="flex items-center gap-1">
				<label for="width" class="min-w-10 text-right">width</label>
				<VgInputNumber id="width" v-model="rect.attrs.width" class="grow" />
				<VgButton class="btn" @click="addAnimate('r')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="height" class="min-w-10 text-right">height</label>
				<VgInputNumber id="height" v-model="rect.attrs.height" class="grow" />
				<VgButton class="btn" @click="addAnimate('height')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="x" class="min-w-10 text-right">x</label>
				<VgInputNumber id="x" v-model="rect.attrs.x" class="grow" />
				<VgButton class="btn" @click="addAnimate('x')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="y" class="min-w-10 text-right">y</label>
				<VgInputNumber id="y" v-model="rect.attrs.y" class="grow" />
				<VgButton class="btn" @click="addAnimate('y')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="ry" class="min-w-10 text-right">ry</label>
				<VgInputNumber id="ry" v-model="rect.attrs.ry" class="grow" />
				<VgButton class="btn" @click="addAnimate('ry')"> @+ </VgButton>
			</div>
			<div class="flex items-center gap-1">
				<label for="rx" class="min-w-10 text-right">rx</label>
				<VgInputNumber id="rx" v-model="rect.attrs.rx" class="grow" />
				<VgButton class="btn" @click="addAnimate('rx')"> @+ </VgButton>
			</div>
		</fieldset>

		<fieldset
			v-if="rect.animates.length"
			class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg"
		>
			<legend class="ml-3 px-2">Animate</legend>
			<AnimateList v-model="animate" :shape="rect" @select="selectAnimate" />
		</fieldset>
	</form>

	<AnimateForm v-if="animate" v-model="animate" />
	<ShapeForm :shape="rect" />
</template>

<style scoped>
label {
	display: block;
}
</style>
