<script setup lang="ts">
import { computed } from "vue"
import { Rect } from "../models/Rect"
import { serializePathD } from "../mods/path"
import { useShape } from "../composables/useShape"

import AnimationChild from "./AnimationChild.vue"
import MotionPreview from "./MotionPreview.vue"
import ScaleCtrl from "./ScaleCtrl.vue"

const model = defineModel<Rect>({ required: true })

const { viewBox, onShapeMouseDown, onMouseDownCtrl, isSelected, onScale } = useShape(model)

const d = computed(() => serializePathD(model.value.motion?.path.commands ?? []))
</script>
<template>
	<rect v-bind="model.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		<AnimationChild v-for="animate of model.animates" :key="animate.id" :animate="animate" />
		<animateMotion v-if="model.motion && !isSelected" v-bind="model.motion.attrs" :path="d" />
	</rect>

	<ScaleCtrl v-if="isSelected && !model.lock" v-bind="viewBox" @scale="onScale" />

	<MotionPreview v-if="model.motion && isSelected" :shape="model" />
</template>
