<script setup lang="ts">
import { computed } from "vue"
import { useKeyModifier } from "@vueuse/core"
import { RectBox, Coord } from "../types/Shape"
import { onMouseMoveUntilUp } from "../mods/dom"
import { useRatio } from "../composables/useViewbox"
import CtrlPoint from "./CtrlPoint.vue"
import { useZoom } from "../composables/useZoom"
import { useCursor } from "../composables/useCursor"

type Props = RectBox & { mode?: "min" | "max"; offset?: Coord }
const props = withDefaults(defineProps<Props>(), { offset: () => ({ x: 0, y: 0 }) })
const emit = defineEmits<{
	(e: "scale", ratios: Coord): void
}>()

const { zoomed: zoomedCursorCoord } = useCursor()
const { x: margin } = useRatio(0.03)
const { x: minStrokeWidth } = useRatio(1)
const { unZoomed: strokeWidth } = useZoom(minStrokeWidth)

const offsetTransform = computed(() => `translate(${props.offset.x} ${props.offset.y})`)

const rectCoord = computed(() => {
	return {
		x: props.x - margin.value,
		y: props.y - margin.value,
		width: props.width + margin.value * 2,
		height: props.height + margin.value * 2,
		x2: props.x + props.width + margin.value,
		y2: props.y + props.height + margin.value,
	}
})

const middleY = computed(() => rectCoord.value.y + rectCoord.value.height / 2)
const middleX = computed(() => rectCoord.value.x + rectCoord.value.width / 2)
const shiftLockState = useKeyModifier("Shift")
const angleMode = computed(() => (shiftLockState.value || Boolean(props.mode) ? "diamand" : "bottom-right"))
const isMin = computed(() => props.mode === "min" || shiftLockState.value)
const isMax = computed(() => props.mode === "max")
const isMinOrmax = computed(() => isMin.value || isMax.value)

function onMd() {
	onMouseMoveUntilUp(() => {
		const zx = zoomedCursorCoord.value.x - rectCoord.value.x - props.offset.x
		const x = Math.abs(zx / rectCoord.value.width)
		const zy = zoomedCursorCoord.value.y - rectCoord.value.y - props.offset.y
		const y = Math.abs(zy / rectCoord.value.height)
		if (isMin.value) {
			const min = Math.min(x, y)
			emit("scale", { x: min, y: min })
		} else if (isMax.value) {
			const max = Math.max(x, y)
			emit("scale", { x: max, y: max })
		} else emit("scale", { x, y })
	})
}
function onMdOne(k: "x" | "y") {
	const side = k === "x" ? "width" : "height"
	onMouseMoveUntilUp(() => {
		const z = zoomedCursorCoord.value[k] - rectCoord.value[k] - props.offset[k]
		const v = Math.abs(z / rectCoord.value[side])
		const otherValue = isMinOrmax.value ? v : 1
		const r = { x: otherValue, y: otherValue }
		r[k] = v
		emit("scale", r)
	})
}
</script>

<template>
	<rect v-bind="rectCoord" fill="none" stroke="#aaa" :stroke-width="strokeWidth" />
	<Teleport to="#ctrls">
		<g :transform="offsetTransform">
			<CtrlPoint :cx="rectCoord.x2" :cy="rectCoord.y2" :mode="angleMode" @mousedown="onMd" />
			<CtrlPoint :cx="rectCoord.x2" :cy="middleY" mode="right" @mousedown="onMdOne('x')" />
			<CtrlPoint :cx="middleX" :cy="rectCoord.y2" mode="bottom" @mousedown="onMdOne('y')" />
		</g>
	</Teleport>
</template>
