<script setup lang="ts">
import { VgInputNumber, VgInputCheckbox, VgButton } from "@gurso/vg-ui"
import { grid, reset } from "../store/settings"

import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
</script>

<template>
	<BaseForm>
		<h1>Settings</h1>

		<BaseFieldset legend="Grid">
			<label><VgInputCheckbox v-model="grid.show" /> Show grid </label>
			<div class="flex gap-2">
				<VgInputNumber v-model="grid.x" class="grow" />
				<VgInputNumber v-model="grid.y" class="grow" />
			</div>
		</BaseFieldset>

		<BaseFieldset legend="Reset config">
			<VgButton class="btn" @click="reset"> reset </VgButton>
		</BaseFieldset>
	</BaseForm>
</template>
