<script setup lang="ts">
import { computed, ref } from "vue"
import { VgButton, VgCheckLabel, VgInputNumber, VgInputRange } from "@gurso/vg-ui"
import { Gradient } from "../models/Gradient"
import { Shape } from "../models"
import { G } from "../models/G"
import { svg } from "../store/canvas"

import GradientList from "./GradientList.vue"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import BaseBtn from "./atoms/BaseBtn.vue"

const props = defineProps<{ shape: Shape | G }>()
const emits = defineEmits<{
	animate: [attrName: string]
}>()

function duplicate() {
	const clone = props.shape.clone()
	svg.value.insertAfter(clone, props.shape)
}

function setGradient(gradient: Gradient) {
	props.shape.attrs.fill = `url(#${gradient.attrs.id})`
}
function addAnimate(attrName: string) {
	emits("animate", attrName)
}

const opacity = computed({
	get() {
		return Number(props.shape.attrs.opacity ?? 1)
	},
	set(opacity: number) {
		props.shape.setAttrs({ opacity })
	},
})

const round = ref(10)
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Shape Tools">
			<div class="flex gap-2">
				<VgButton class="btn grow" @click="shape.reverseX(svg)"> reverseX </VgButton>
				<VgButton class="btn grow" @click="shape.reverseY(svg)"> reverseY </VgButton>
				<VgButton class="btn grow" @click="duplicate"> duplicate </VgButton>
				<VgCheckLabel v-model="shape.lock" class="btn" :class="{ alt: shape.lock }">
					<template v-if="shape.lock"> Locked </template>
					<template v-else> Unlocked </template>
				</VgCheckLabel>
			</div>
		</BaseFieldset>

		<BaseFieldset legend="Round">
			<div class="flex">
				<VgInputNumber v-model="round" min="0" max="15" class="grow" />
				<BaseBtn class="min-w-20" @click="shape.round(round)"> round </BaseBtn>
			</div>
		</BaseFieldset>

		<BaseFieldset legend="Commons attrs">
			<div class="flex items-center">
				<label for="fill" class="min-w-5 text-right cursor-pointer">fill</label>
				<input id="fill" v-model="shape.attrs.fill" type="color" class="grow self-center h-8 mx-3" />
				<VgButton class="btn" @click="shape.rmAttrs('fill')"> X </VgButton>
				<VgButton class="btn" @click="shape.setAttrs({ fill: 'none' })"> none </VgButton>
				<VgButton class="btn" @click="addAnimate('fill')"> @+ </VgButton>
			</div>

			<div class="flex items-center">
				<label for="stroke" class="min-w-5 text-right cursor-pointer">stroke</label>
				<input id="stroke" v-model="shape.attrs.stroke" type="color" class="grow self-center h-8 mx-3" />
				<VgButton class="btn" @click="shape.rmAttrs('stroke')"> X </VgButton>
				<VgButton class="btn" @click="addAnimate('stroke')"> @+ </VgButton>
			</div>

			<div class="flex items-center">
				<label for="stroke-width" class="min-w-5 text-right cursor-pointer">stroke-width</label>
				<input
					id="stroke-width"
					v-model="shape.attrs['stroke-width']"
					type="number"
					class="grow self-center h-8 mx-3"
				/>
				<VgButton class="btn" @click="shape.rmAttrs('stroke-width')"> X</VgButton>
				<VgButton class="btn" @click="addAnimate('stroke-width')"> @+ </VgButton>
			</div>

			<GradientList @select="setGradient" />

			<label>opacity</label>
			<VgInputRange v-model="opacity" min="0" max="1" step="0.01" />
		</BaseFieldset>
	</BaseForm>
</template>
