<script setup lang="ts">
import { ref } from "vue"
import { noding } from "../store/selected"
import { creating, cursorCSS } from "../store/creating"
import { parseSvgStr } from "../mods/file"
import { Defs } from "../models/Defs"
import { Mask } from "../models/Mask"
import { Gradient } from "../models/Gradient"
import { SvgImage } from "../models/SvgImage"
import { Use } from "../models/Use"
import { Path, Shape } from "../models"
import { Text } from "../models/Text"
import { CommandMove } from "../models/CommandMove"
import { Poly } from "../models/Poly"
import { Point } from "../models/Point"
import { Line } from "../models/Line"
import { HasChildren } from "../models/HasChildren"
import { Tag } from "../models/Tag"

type Props = { parent: HasChildren }
const props = defineProps<Props>()

async function setPreviewShapeCursor(shapeName: string) {
	const url = new URL(window.location.href)
	if (url.pathname.endsWith("/")) url.pathname += `${shapeName}.svg`
	else url.pathname += `/${shapeName}.svg`
	more.value = false
	const res = await fetch(url)
	const txt = await res.text()
	const svg = parseSvgStr(txt)

	cursorCSS.value = `url(${url}) 0 0, wait`
	creating.value = svg.children.find(child => child instanceof Shape)
}

function setTextCursor() {
	more.value = false
	const txt = new Text()
	txt.content = "text to replace"
	creating.value = txt
	cursorCSS.value = "text"
}

function setPolyCursor() {
	more.value = false
	const poly = new Poly()
	poly.points.push(new Point({ x: 0, y: 0 }))
	poly.attrs.fill = "none"
	poly.setAttrs({ fill: "none", "stroke-width": 1, stroke: "black" })
	creating.value = noding.value = poly
	cursorCSS.value = "crosshair"
}
function setPathCursor() {
	more.value = false
	const path = new Path()
	path.commands.push(new CommandMove({ x: 0, y: 0 }))
	path.attrs.fill = "none"
	path.setAttrs({ fill: "none", "stroke-width": 1, stroke: "black" })
	creating.value = noding.value = path
	cursorCSS.value = "crosshair"
}

async function setLineCursor() {
	more.value = false
	const res = await fetch("/line.svg")
	const txt = await res.text()
	const svg = parseSvgStr(txt)

	cursorCSS.value = "url(/line.svg) 0 0, wait"
	const line = svg.children.find(child => child instanceof Line)
	if (line) {
		line.offsetX = -line?.attrs.x1
		line.offsetY = -line?.attrs.y1
		line.offsetX2 = -line?.attrs.x2
		line.offsetY2 = -line?.attrs.y2
	}
	creating.value = line
}

function isSelected(shape: string) {
	return shape === creating.value?.name
}

const more = ref(false)

function add(tag: Tag) {
	props.parent.children.push(tag)
}
</script>

<template>
	<ul class="flex flex-col items-stretch bg-white rounded-xl shadow-xl">
		<li
			:class="{ 'bg-gray-400!': isSelected('circle') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100 rounded-t-xl"
			@click="setPreviewShapeCursor('circle')"
		>
			<img src="/circle.svg" class="m-auto w-6" />
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('rect') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setPreviewShapeCursor('rect')"
		>
			<img src="/rect.svg" class="m-auto" />
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('ellipse') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setPreviewShapeCursor('ellipse')"
		>
			<img src="/ellipse.svg" class="m-auto" />
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('line') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setLineCursor"
		>
			<img src="/line.svg" class="m-auto" />
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('text') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setTextCursor"
		>
			Text
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('poly') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setPolyCursor"
		>
			Poly
		</li>
		<li
			:class="{ 'bg-gray-400!': isSelected('path') }"
			class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100"
			@click="setPathCursor"
		>
			Path
		</li>
		<li
			class="relative cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100 rounded-b-xl"
			:class="{ 'bg-gray-400!': more }"
			@click.self="more = !more"
		>
			More
			<ul
				v-if="more"
				class="absolute left-full top-1/2 -translate-y-1/2 translate-x-4 flex flex-col bg-white rounded-xl shadow-xl overflow-hidden"
			>
				<li class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100" @click="add(new SvgImage())">Image</li>
				<li class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100" @click="add(new Gradient())">
					Gradient
				</li>
				<li class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100" @click="add(new Mask())">Mask</li>
				<template v-if="!(parent instanceof Defs)">
					<li class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100" @click="add(new Defs())">Defs</li>
					<li class="cursor-pointer flex p-4 hover:bg-gray-200 active:bg-gray-100" @click="add(new Use())">Use</li>
				</template>
			</ul>
		</li>
	</ul>
</template>
