<script setup lang="ts">
import { onMounted, onUnmounted } from "vue"
import { StyleSheetTag } from "../models/StyleSheet"

const model = defineModel<StyleSheetTag>({ required: true })

onMounted(() => {
	const svg = document.getElementById("canvas")?.querySelector("svg")
	if (!svg) throw new Error("Svg in canvas not founded !")
	svg.appendChild(model.value.el)
})

onUnmounted(() => {
	const isRemoved = model.value.el.parentNode?.removeChild(model.value.el)
	if (!isRemoved) throw new Error("Cannot removed style element")
})
</script>
<!-- eslint-disable-next-line vue/valid-template-root -->
