<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted } from "vue"
import { VgInput, VgButton } from "@gurso/vg-ui"
import { Tag } from "../models/Tag"
import { parse, serialize } from "../mods/style"

import CloseBtn from "./CloseBtn.vue"

type Props = { shape: Tag }
const props = defineProps<Props>()
const search = ref("")
const newAttr = ref("")

const obj = computed(() => parse(props.shape.attrs.style))
const list = computed(() => Object.fromEntries(Object.entries(obj.value).filter(([k]) => k.includes(search.value))))

function update(k: string, v: string | number) {
	const tmp = parse(props.shape.attrs.style)
	tmp[k] = v.toString()
	props.shape.setAttrs({ style: serialize(tmp) })
}
function rm(k: string) {
	const tmp = parse(props.shape.attrs.style)
	delete tmp[k]
	props.shape.setAttrs({ style: serialize(tmp) })
}
function add() {
	const tmp = parse(props.shape.attrs.style)
	tmp[newAttr.value] = ""
	props.shape.setAttrs({ style: serialize(tmp) })
	newAttr.value = ""
}

onMounted(() => {
	if (!props.shape.attrs.style) props.shape.setAttrs({ style: "" })
})
onUnmounted(() => {
	if (!props.shape.attrs.style) props.shape.rmAttrs("style")
})
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>Search</legend>
			<VgInput v-model="search" type="search" />
		</fieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>List</legend>
			<div v-for="(_, k) in list" :key="k" class="flex items-center gap-1">
				<label class="min-w-10 text-right">{{ k }}</label>
				<VgInput :model-value="list[k]" class="grow" @update:model-value="update(k.toString(), $event)" />
				<CloseBtn @click="rm(k.toString())" />
			</div>
		</fieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend>add</legend>
			<div class="flex gap-2">
				<VgInput v-model="newAttr" class="grow" />
				<VgButton class="btn" @click="add"> add </VgButton>
			</div>
		</fieldset>
	</form>
</template>
