<script setup lang="ts">
import { getCurrentInstance, onMounted, shallowRef } from "vue"
import { VgButton } from "@gurso/vg-ui"
import { StyleSheetTag } from "../models/StyleSheet"

import CloseBtn from "./CloseBtn.vue"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

const props = defineProps<{ shape: StyleSheetTag }>()
const instance = getCurrentInstance()

const rules = shallowRef<CSSStyleRule[]>([])

function setRules() {
	rules.value = Array.from(props.shape.el.sheet?.cssRules ?? [])
		.filter(r => r instanceof CSSStyleRule)
		.map(r => r as CSSStyleRule)
}

function rmRule(rule: CSSRule, update = true) {
	const rules = rule.parentStyleSheet?.cssRules
	if (rules) {
		for (let i = 0; i < rules?.length; i++) {
			if (rules[i] === rule) {
				rule.parentStyleSheet.deleteRule(i)
				setRules()
				break
			}
		}
	}
	if (update) instance?.proxy?.$forceUpdate()
}

function rmProperty(rule: CSSStyleRule, it: string) {
	rule.style.removeProperty(it)
	if (!rule.style.length) {
		rmRule(rule, false)
	}
	instance?.proxy?.$forceUpdate()
}
function copyValue(value: string) {
	navigator.clipboard.writeText(value)
}
onMounted(() => {
	setRules()
})
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Rules">
			<dl v-for="rule of rules" :key="rule.cssText">
				<dt class="flex items-center justify-between">
					{{ rule.selectorText }}
					<CloseBtn @click="rmRule(rule)" />
				</dt>
				<dd v-for="i in rule.style.length" :key="i">
					{{ rule.style.item(i - 1) }} :

					<VgButton class="btn" @click="copyValue(rule.style.getPropertyValue(rule.style.item(i - 1)))">
						copy : {{ rule.style.getPropertyValue(rule.style.item(i - 1)) }}
					</VgButton>

					<CloseBtn @click="rmProperty(rule, rule.style.item(i - 1))" />
				</dd>
			</dl>
		</BaseFieldset>
	</BaseForm>
</template>
