<script setup lang="ts">
import { ref } from "vue"
import { VgInputNumber, VgRadioLabel, VgButton, VgInput, VgCheckLabel } from "@gurso/vg-ui"
import { Align, MeetOrSlice, Svg } from "../models/Svg"
import { useSvg } from "../composables/useSvg"
import { select } from "../store/selected"
import { RectBox } from "../types/Shape"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"
import ShapeForm from "./ShapeForm.vue"

const svg = defineModel<Svg>({ required: true })
const { isSelected, viewBox, viewBoxIsValid, setViewBox } = useSvg(svg)
const keepRatioSize = ref(false)
const keepRatio = ref(false)

const align = ref<Align | "none">()
const meetOrSlice = ref<MeetOrSlice>()

function adjustSize(axis: "x" | "y") {
	const ratioX = svg.value.attrs.width / viewBox.value.width
	const ratioY = svg.value.attrs.height / viewBox.value.height
	if (axis === "x") {
		svg.value.attrs.width = viewBox.value.width * ratioY
	} else {
		svg.value.attrs.height = viewBox.value.height * ratioX
	}
}

function updateViewBox(key: keyof RectBox, value: number | `${number}`) {
	if (keepRatio.value && (key === "width" || key === "height")) {
		const ratio = viewBox.value[key] / Number(value)
		const otherKey = key === "width" ? "height" : "width"
		setViewBox({
			[key]: value,
			[otherKey]: Math.round(viewBox.value[otherKey] / ratio),
		})
	} else setViewBox({ [key]: value })
}

function setWidth(w: number | `${number}`) {
	const nb = Number(w)
	if (keepRatioSize.value && viewBoxIsValid.value) {
		const ratio = svg.value.attrs.width / nb
		svg.value.attrs.height = Number((svg.value.attrs.height / ratio).toFixed(5))
	}
	svg.value.attrs.width = nb
}
function setHeight(h: number | `${number}`) {
	const nb = Number(h)
	if (keepRatioSize.value && viewBoxIsValid.value) {
		const ratio = svg.value.attrs.height / nb
		svg.value.attrs.width = Number((svg.value.attrs.width / ratio).toFixed(5))
	}
	svg.value.attrs.height = nb
}
</script>

<template>
	<BaseForm>
		<h1>Svg</h1>

		<BaseFieldset legend="Title">
			<VgInput v-model="svg.title" />
		</BaseFieldset>

		<BaseFieldset :disabled="isSelected" legend="Title">
			<VgButton class="btn" @click="select(svg)">select svg</VgButton>
		</BaseFieldset>

		<BaseFieldset legend="Main svg attributes">
			<p class="flex justify-between">
				Size
				<VgCheckLabel v-if="viewBoxIsValid" v-model="keepRatioSize">
					{{ keepRatioSize ? "lock 🔒" : "detach 🔓" }}
				</VgCheckLabel>
			</p>
			<div class="flex" :class="{ 'gap-2': !keepRatioSize || !viewBoxIsValid }">
				<div class="grow flex">
					<VgButton :disabled="viewBoxIsValid" class="btn rounded-r-none!" @click="adjustSize('x')"> adjust </VgButton>
					<VgInputNumber
						:model-value="svg.attrs.width"
						class="grow rounded-l-none!"
						:class="{ 'rounded-r-none!': keepRatioSize && viewBoxIsValid }"
						@update:model-value="setWidth"
					/>
				</div>
				<div class="grow flex">
					<VgInputNumber
						:model-value="svg.attrs.height"
						class="grow rounded-r-none!"
						:class="{ 'rounded-l-none!': keepRatioSize && viewBoxIsValid }"
						@update:model-value="setHeight"
					/>
					<VgButton :disabled="viewBoxIsValid" class="btn rounded-l-none!" @click="adjustSize('y')"> adjust </VgButton>
				</div>
			</div>

			<p class="flex items-center justify-between">
				ViewBox
				<VgCheckLabel v-if="viewBoxIsValid" v-model="keepRatio">
					{{ keepRatio ? "lock 🔒" : "detach 🔓" }}
				</VgCheckLabel>
			</p>
			<div class="flex gap-2">
				<VgInputNumber :model-value="viewBox.x" class="grow" @update:model-value="updateViewBox('x', $event)" />
				<VgInputNumber :model-value="viewBox.y" class="grow" @update:model-value="updateViewBox('y', $event)" />
				<div class="grow flex" :class="{ 'gap-2': !keepRatio }">
					<VgInputNumber
						:model-value="viewBox.width"
						class="grow"
						:class="{ 'rounded-r-none!': keepRatio }"
						@update:model-value="updateViewBox('width', $event)"
					/>
					<VgInputNumber
						:model-value="viewBox.height"
						class="grow"
						:class="{ 'rounded-l-none!': keepRatio }"
						@update:model-value="updateViewBox('height', $event)"
					/>
				</div>
			</div>
			<div class="flex justify-between mt-2">
				<select v-model="align">
					<option>default (xMidYMid)</option>
					<option value="xMinYMin" class="p-2">xMinYMin</option>
					<option value="xMidYMin" class="p-2">xMidYMin</option>
					<option value="xMaxYMin" class="p-2">xMaxYMin</option>
					<option value="xMinYMid" class="p-2">xMinYMid</option>
					<option value="xMidYMid" class="p-2">xMidYMid</option>
					<option value="xMaxYMid" class="p-2">xMaxYMid</option>
					<option value="xMinYMax" class="p-2">xMinYMax</option>
					<option value="xMidYMax" class="p-2">xMidYMax</option>
					<option value="xMaxYMax" class="p-2">xMaxYMax</option>
					<option value="none">none</option>
				</select>
				<div>
					<VgRadioLabel
						v-model="meetOrSlice"
						name="meetOrSlice"
						value="meet"
						:disabled="align === 'none'"
						class="btn rounded-r-none!"
						:class="{ alt: meetOrSlice === 'meet' }"
					>
						meet
					</VgRadioLabel>
					<VgRadioLabel
						v-model="meetOrSlice"
						name="meetOrSlice"
						value="slice"
						:disabled="align === 'none'"
						class="btn rounded-l-none!"
						:class="{ alt: meetOrSlice === 'slice' }"
					>
						slice
					</VgRadioLabel>
				</div>
			</div>
		</BaseFieldset>
	</BaseForm>

	<ShapeForm :shape="svg" />
</template>
