<script setup lang="ts">
import { computed } from "vue"
import { Svg } from "../models/Svg"
import { Coord } from "../types/Shape"
import { Circle } from "../models/Circle"
import { useSvg } from "../composables/useSvg"

import ScaleCtrl from "./ScaleCtrl.vue"

const model = defineModel<Svg>({ required: true })

const { viewBox, viewBoxIsValid, isSelected } = useSvg(model)

function onScale(ratios: Coord) {
	model.value.scale(ratios)
}
const hasCircleChild = computed(() => model.value.someDescendant(c => c instanceof Circle))
const mode = computed(() => (hasCircleChild.value ? "max" : undefined))
</script>

<template>
	<svg v-bind="model.attrs">
		<title v-if="model.title">{{ model.title }}</title>
		<component :is="child.component" v-for="child of model.children" :key="child.id" :model-value="child" />
		<template v-if="isSelected">
			<rect
				v-bind="viewBox"
				:class="viewBoxIsValid ? 'fill-green-200/50 stroke-green-600' : 'fill-red-200/50 stroke-red-600'"
				stroke-width="1px"
			/>
			<ScaleCtrl v-bind="viewBox" :mode="mode" @scale="onScale" />
		</template>
	</svg>
</template>
