<script setup lang="ts">
import { Tag } from "../models/Tag"

const tag = defineModel<Tag>({ required: true })
</script>

<template>
	<form>
		<fieldset>
			<legend>Tag</legend>
			<p>No form define for {{ tag.html }}</p>
		</fieldset>
	</form>
</template>
