<script setup lang="ts">
import { Tag } from "../models/Tag"

const model = defineModel<Tag>({ required: true })
</script>

<template>
	<component :is="model.html" v-bind="model.attrs" />
</template>
