<script setup lang="ts">
import { ref } from "vue"
import { VgRadioLabel } from "@gurso/vg-ui"
import { Tag } from "../models/Tag"
import { Shape, Path } from "../models"
import { Poly } from "../models/Poly"
import { G } from "../models/G"
import { command, point } from "../store/selected"

import AttrsForm from "./AttrsForm.vue"
import StyleForm from "./StyleForm.vue"
import TransformForm from "./TransformForm.vue"
import CommandForm from "./CommandForm.vue"
import PointForm from "./PointForm.vue"
import MotionForm from "./MotionForm.vue"

const model = defineModel<Tag>({ required: true })
const target = ref("main")
</script>

<template>
	<div class="flex gap-1 text-center">
		<VgRadioLabel
			v-model="target"
			name="form"
			value="main"
			:class="{ selected: target === 'main' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			Main
		</VgRadioLabel>
		<VgRadioLabel
			v-if="command"
			v-model="target"
			name="form"
			value="command"
			:class="{ selected: target === 'command' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			command
		</VgRadioLabel>
		<VgRadioLabel
			v-else-if="point"
			v-model="target"
			name="form"
			value="point"
			:class="{ selected: target === 'point' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			point
		</VgRadioLabel>
		<VgRadioLabel
			v-if="model instanceof Shape"
			v-model="target"
			name="form"
			value="motion"
			:class="{ selected: target === 'motion' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			Motion
		</VgRadioLabel>
		<VgRadioLabel
			v-if="model instanceof Shape || model instanceof G"
			v-model="target"
			name="form"
			value="transform"
			:class="{ selected: target === 'transform' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			Transform
		</VgRadioLabel>
		<VgRadioLabel
			v-if="model instanceof Shape || model instanceof G"
			v-model="target"
			name="form"
			value="style"
			:class="{ selected: target === 'style' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			Style
		</VgRadioLabel>
		<VgRadioLabel
			v-model="target"
			name="form"
			value="raw"
			:class="{ selected: target === 'raw' }"
			class="grow cursor-pointer rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 p-2"
		>
			Raw attributes
		</VgRadioLabel>
	</div>

	<component :is="model.form" v-if="target === 'main'" :key="model.id" v-model="model" />
	<TransformForm v-else-if="target === 'transform' && (model instanceof Shape || model instanceof G)" :shape="model" />
	<StyleForm v-else-if="target === 'style'" :shape="model" />
	<MotionForm v-else-if="target === 'motion' && model instanceof Shape" :shape="model" />
	<AttrsForm v-else-if="target === 'raw'" v-model="model.attrs" />
	<template v-else-if="command && target === 'command' && model instanceof Shape">
		<CommandForm v-if="model instanceof Path" v-model="command" :path="model" />
		<CommandForm v-else-if="model.motion" v-model="command" :path="model.motion.path" />
	</template>
	<PointForm v-else-if="model instanceof Poly && point && target === 'point'" v-model="point" />
</template>

<style scoped>
@reference "../style.css";

.selected {
	@apply font-bold bg-gray-200 relative;

	&:before {
		content: "";
		@apply h-3 w-[1px] bg-gray-200 absolute bottom-full left-1/2 -translate-y-[1px] -translate-x-1/2;
	}
}
</style>
