<script setup lang="ts">
import { VgInput, VgInputNumber, VgRadioLabel } from "@gurso/vg-ui"
import { Text } from "../models/Text"

import ShapeForm from "./ShapeForm.vue"

const text = defineModel<Text>({ required: true })
</script>

<template>
	<form>
		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Content</legend>
			<VgInput v-model="text.content" />
		</fieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Position</legend>
			<div class="flex items-center">
				<label for="x" class="min-w-5 text-right cursor-pointer mr-2"> x </label>
				<VgInputNumber id="x" v-model="text.attrs.x" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('x')"> @+ </VgButton> -->
			</div>
			<div class="flex items-center">
				<label for="y" class="min-w-5 text-right cursor-pointer mr-2"> y </label>
				<VgInputNumber id="y" v-model="text.attrs.y" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('y')"> @+ </VgButton> -->
			</div>
			<div class="flex items-center">
				<label for="dx" class="min-w-5 text-right cursor-pointer mr-2"> dx </label>
				<VgInputNumber id="dx" v-model="text.attrs.dx" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('dx')"> @+ </VgButton> -->
			</div>
			<div class="flex items-center">
				<label for="dy" class="min-w-5 text-right cursor-pointer mr-2"> dy </label>
				<VgInputNumber id="dy" v-model="text.attrs.dy" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('dy')"> @+ </VgButton> -->
			</div>
		</fieldset>

		<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
			<legend class="ml-3 px-2">Other</legend>

			<!-- <div> -->
			<!-- 	<label for="font-size">Font-size</label> -->
			<!-- 	<VgInputNumber id="font-size" v-model="text.attrs['font-size']" /> -->
			<!-- </div> -->

			<div class="flex items-center">
				<label for="dy" class="min-w-5 text-right cursor-pointer mr-2"> text lenght </label>
				<VgInputNumber id="dy" v-model="text.attrs.textLength" class="grow rounded-r-none!" />
				<!-- <VgButton class="btn rounded-l-none!" @click="addAnimate('dy')"> @+ </VgButton> -->
			</div>

			<div class="flex gap-1">
				<VgRadioLabel v-model="text.attrs['stroke-linecap']" name="linecap" value="butt" class="btn alt-check">
					butt
				</VgRadioLabel>
				<VgRadioLabel v-model="text.attrs['stroke-linecap']" name="linecap" value="round" class="btn alt-check">
					round
				</VgRadioLabel>
				<VgRadioLabel v-model="text.attrs['stroke-linecap']" name="linecap" value="square" class="btn alt-check">
					square
				</VgRadioLabel>
			</div>
		</fieldset>
	</form>
	<ShapeForm :shape="text" />
</template>
