<script setup lang="ts">
import { computed } from "vue"
import { useShape } from "../composables/useShape"
import { isSelected } from "../store/selected"
import { Text } from "../models/Text"

const model = defineModel<Text>({ required: true })

const selected = computed(() => isSelected(model.value))

const { viewBox, onShapeMouseDown, onMouseDownCtrl } = useShape(model)
</script>

<template>
	<text v-bind="model.attrs" @mousedown.exact="onShapeMouseDown" @mousedown.ctrl="onMouseDownCtrl">
		{{ model.content }}
	</text>
	<rect v-if="selected" v-bind="viewBox" fill="#0001" @mousedown="onShapeMouseDown" />
</template>
