<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue"
import { VgInputNumber, VgButton } from "@gurso/vg-ui"
import { G } from "../models/G"
import { Shape } from "../models"
import { TransformType } from "../types/Animation"
import { AnimateTransform } from "../models/AnimateTransform"
import { parse, parseOrigin, serialize, TransformValues } from "../mods/transform"

import AnimateList from "./AnimateList.vue"
import AnimateForm from "./AnimateForm.vue"
import BaseForm from "./atoms/BaseForm.vue"
import BaseFieldset from "./atoms/BaseFieldset.vue"

type Props = { shape: Shape | G }
const props = defineProps<Props>()
const values = computed(() => parse(props.shape.attrs.transform?.toString() ?? ""))
const origin = computed(() => parseOrigin(props.shape.getAttr("transform-origin")?.toString() ?? ""))

const isShape = computed(() => props.shape instanceof Shape)
const animate = ref<AnimateTransform>()

function update(k: keyof TransformValues, v: number | `${number}`) {
	const tmp = parse(props.shape.attrs.transform ?? "")
	tmp[k] = Number(v)
	props.shape.setAttrs({ transform: serialize(tmp) })
}

function updateOrigin(axis: "x" | "y", value: number | `${number}`) {
	const tmp = parseOrigin(props.shape.getAttr("transform-origin")?.toString() ?? "")
	tmp[axis] = Number(value)
	props.shape.setAttrs({ "transform-origin": `${tmp.x} ${tmp.y}` })
}

onMounted(() => {
	if (!props.shape.attrs.transform) props.shape.setAttrs({ transform: "" })
	if (!props.shape.getAttr("transform-origin")) props.shape.setAttrs({ "transform-origin": "" })
})
onUnmounted(() => {
	if (
		!props.shape.attrs.transform ||
		(values.value.translateX === 0 &&
			values.value.translateY === 0 &&
			values.value.scale === 1 &&
			values.value.rotate === 0)
	) {
		props.shape.rmAttrs("transform")
	}
	if (!props.shape.getAttr("transform-origin") || (origin.value.x === 0 && origin.value.y === 0)) {
		props.shape.rmAttrs("transform-origin")
	}
})

function addAnimate(type: TransformType) {
	if (props.shape instanceof Shape) {
		animate.value = new AnimateTransform(type)
		props.shape.animates.push(animate.value)
	}
}
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Transform">
			<p>Translate</p>
			<div class="flex gap-2 mb-3">
				<VgInputNumber
					:model-value="values.translateX"
					placeholder="x"
					class="grow"
					@update:model-value="update('translateX', $event)"
				/>
				<VgInputNumber
					:model-value="values.translateY"
					placeholder="y"
					class="grow"
					@update:model-value="update('translateY', $event)"
				/>
				<VgButton v-if="isShape" class="btn" @click="addAnimate('translate')">@+</VgButton>
			</div>
			<label class="flex items-center gap-1 my-3">
				rotate:
				<VgInputNumber :model-value="values.rotate" class="grow" @update:model-value="update('rotate', $event)" />
				<VgButton v-if="isShape" class="btn" @click="addAnimate('rotate')">@+</VgButton>
			</label>
			<label class="flex items-center gap-1 my-3">
				scale
				<VgInputNumber
					:model-value="values.scale"
					step="0.1"
					class="grow"
					@update:model-value="update('scale', $event)"
				/>
				<VgButton v-if="isShape" class="btn" @click="addAnimate('scale')">@+</VgButton>
			</label>
		</BaseFieldset>

		<BaseFieldset legend="Transform origin">
			<div class="flex gap-2 mb-3">
				<VgInputNumber :model-value="origin.x" class="grow" @update:model-value="updateOrigin('x', $event)" />
				<VgInputNumber :model-value="origin.y" class="grow" @update:model-value="updateOrigin('y', $event)" />
			</div>
		</BaseFieldset>
	</BaseForm>

	<template v-if="shape instanceof Shape && shape.animates.length">
		<BaseForm>
			<BaseFieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
				<legend>List animateTransform</legend>
				<AnimateList v-model="animate" :shape="shape" transform />
			</BaseFieldset>
		</BaseForm>

		<AnimateForm v-if="animate" v-model="animate" />
	</template>
</template>
