<script setup lang="ts">
import { PropType, computed, ref } from "vue"
import { VgButton } from "@gurso/vg-ui"
import { HasChildren } from "../models/HasChildren"
import { Tag } from "../models/Tag"
import { isSelected, select, toggle, clean, unselect } from "../store/selected"
import { svg } from "../store/canvas"

import GrabBtn from "./GrabBtn.vue"
import ChevronIcon from "./icons/ChevronIcon.vue"
import CloseBtn from "./CloseBtn.vue"

const dragged = defineModel<Tag>()
const dragovered = defineModel<Tag>("dragovered")
const props = defineProps({
	parent: {
		type: Object as PropType<HasChildren>,
		required: true,
	},
	opened: {
		type: Boolean,
		default: true,
	},
})
const emit = defineEmits<{
	(e: "browse", tag: HasChildren): void
}>()

const couldDrop = computed(() =>
	Boolean(
		dragged.value &&
			dragovered.value &&
			dragged.value !== dragovered.value &&
			!(dragged.value instanceof HasChildren && dragged.value.isAncestorOf(dragovered.value)),
	),
)

function toggleHiddenTag(tag: Tag) {
	tag.hidden = !tag.hidden
}

function canDrop(item: Tag): item is Tag {
	return item === dragovered.value && couldDrop.value
}

function onDragstart(item: Tag) {
	clean()
	dragged.value = item
}

function rmKeepDesc(parent: HasChildren) {
	unselect(parent)
	const p = parent.getParent(props.parent)
	if (p) {
		p.rm(parent)
		p.children.push(...parent.children)
	}
}

function onDragend() {
	dragged.value = dragovered.value = undefined
}

function onDrop(item: Tag) {
	if (canDrop(item)) {
		svg.value.rm(dragged.value!)
		props.parent.insertAfter(dragged.value!, item)
	}
	dragged.value = dragovered.value = undefined
}

function onParentDrop(newParent: HasChildren) {
	if (canDrop(newParent)) {
		props.parent.rm(dragged.value!)
		newParent.children.unshift(dragged.value!)
	}
	dragged.value = dragovered.value = undefined
}

function onDragover(shape: Tag) {
	dragovered.value = shape
}

function onDragleave() {
	dragovered.value = undefined
}

const childOpened = ref(true)

function browse(tag: HasChildren) {
	emit("browse", tag)
}
</script>

<template>
	<ul v-if="opened" class="pl-2">
		<li v-for="child of parent.children" :key="child.id" class="list-none cursor-pointer">
			<template v-if="child instanceof HasChildren">
				<p
					class="py-2 flex gap-2"
					:class="{
						'bg-gray-100': isSelected(child),
						'shadow-[inset_0_-3px_0_0_silver]': canDrop(child),
						'opacity-25': dragged === child,
					}"
					@click.exact="select(child)"
					@click.ctrl="toggle(child)"
					@dragover.prevent="onDragover(child)"
					@drop.prevent="onParentDrop(child)"
					@dragleave="onDragleave"
				>
					<GrabBtn class="cursor-grab" draggable="true" @dragend="onDragend" @dragstart="onDragstart(child)" />
					<span class="grow flex items-center" @click.self.exact="select(child)"> {{ child.html }}</span>
					<VgButton v-if="child.children.length" @click.stop="childOpened = !childOpened">+</VgButton>
					<VgButton v-if="child.children.length" @click.stop="browse(child)">
						<ChevronIcon size="12" class="origin-center -rotate-90" />
					</VgButton>
					<CloseBtn size="8" @click.stop="rmKeepDesc(child)" />
					<CloseBtn size="8" @click.stop="parent.rm(child)" />
				</p>
				<TreeMenu
					v-model="dragged"
					v-model:dragovered="dragovered"
					:parent="child"
					:opened="childOpened"
					@browse="browse"
				/>
			</template>

			<div
				v-else
				class="py-2"
				:class="{
					'bg-gray-100': isSelected(child),
					'shadow-[inset_0_-3px_0_0_silver]': canDrop(child),
					'opacity-25': dragged === child,
				}"
				@click.exact="select(child)"
				@click.ctrl="toggle(child)"
				@dragover.prevent="onDragover(child)"
				@drop.prevent="onDrop(child)"
				@dragleave="onDragleave"
			>
				<span class="flex items-center gap-2">
					<GrabBtn class="cursor-grab" draggable="true" @dragend="onDragend" @dragstart="onDragstart(child)" />
					<p class="grow">{{ child.html }} #{{ child.attrs.id }}</p>
					<CloseBtn size="8" @click.stop="parent.rm(child)" />
					<VgButton @click.stop="toggleHiddenTag(child)">
						<img v-if="child.hidden" src="/icons/no-eye.svg" class="size-4" />
						<img v-else src="/icons/eye.svg" class="size-4" />
					</VgButton>
				</span>
			</div>
		</li>
	</ul>
</template>
