<script setup lang="ts">
import { computed } from "vue"
import { VgButton, VgInputNumber } from "@gurso/vg-ui"
import { zoom } from "../store/zoom"

const roundedInputValue = computed({
	get() {
		return Number(zoom.value.toFixed(1))
	},
	set(v: number) {
		zoom.value = Number(v.toFixed(1))
	},
})
</script>

<template>
	<div>
		<VgButton class="btn" @click="zoom -= 0.1"> - </VgButton>
		<VgButton class="px-2 flex items-center cursor-pointer" @click="zoom = 1"> reset </VgButton>
		<VgInputNumber v-model="roundedInputValue" step="0.1" />
		<VgButton class="btn" @click="zoom += 0.1"> + </VgButton>
	</div>
</template>
