<script setup lang="ts">
import { computed } from "vue"

const props = defineProps<{ name: string; alt?: string }>()
const src = computed(() => `/icons/${props.name}.svg`)
</script>

<template>
	<img :src="src" :alt="alt" />
</template>
