<script setup lang="ts">
import { ref, watch } from "vue"

const props = defineProps<{ legend?: string; closed?: boolean }>()

const opened = ref<boolean>()

function toggle() {
	opened.value = !opened.value
}
watch(
	() => props.closed,
	() => {
		opened.value = !props.closed
	},
	{ immediate: true },
)
</script>

<template>
	<fieldset class="flex flex-col justify-between gap-2 p-2 border border-gray-200 rounded-lg">
		<legend v-if="legend" class="ml-3 px-2" @click="toggle">{{ legend }}</legend>
		<slot v-if="opened"></slot>
	</fieldset>
</template>
