<script setup lang="ts">
import { VgRadioLabel } from "@gurso/vg-ui"

const model = defineModel<string>()
defineProps<{ name: string; values: readonly string[] }>()
</script>

<template>
	<div class="flex items-center gap-2">
		<VgRadioLabel v-for="value of values" :key="value" v-model="model" :value="value" :name="name" class="btn">
			{{ value }}
		</VgRadioLabel>
	</div>
</template>
