<script setup lang="ts">
import { propsIcon } from "./props"

defineProps(propsIcon)
</script>

<template>
	<svg viewBox="0 0 24 24" :width="size" :height="size">
		<line x1="0" y1="10" x2="12" y2="20" :stroke="color" stroke-width="3" stroke-linecap="round" />
		<line x1="24" y1="10" x2="12" y2="20" :stroke="color" stroke-width="3" stroke-linecap="round" />
	</svg>
</template>
