<script setup lang="ts">
import { propsIcon } from "./props"

defineProps(propsIcon)
</script>

<template>
	<svg viewBox="0 0 24 24" :width="size" :height="size">
		<line x1="0" y1="0" x2="24" y2="24" :stroke="color" stroke-width="3" />
		<line x1="0" y1="24" x2="24" y2="0" :stroke="color" stroke-width="3" />
	</svg>
</template>
