<script setup lang="ts">
import { onMounted, useTemplateRef } from "vue"
import { useKeyModifier } from "@vueuse/core"
import { svg } from "./store/canvas"
import { noding, selected, clean } from "./store/selected"
import { creating } from "./store/creating"
import { save, undo, redo, load } from "./store/history"
import { zoomIn, zoomOut } from "./store/zoom"
import { useSelected } from "./composables/useSelected"

import CanvasApp from "./components/CanvasApp.vue"
import FormMenu from "./components/FormMenu.vue"
import ShapeMenu from "./components/ShapeMenu.vue"
import AnimationsControls from "./components/AnimationsControls.vue"
import CodeDialog from "./components/CodeDialog.vue"
import HistoryMenu from "./components/HistoryMenu.vue"
import ZoomMenu from "./components/ZoomMenu.vue"

const zone = useTemplateRef("zone")
const { commonAncestor } = useSelected()

const ctrlLockState = useKeyModifier("Control")

function printEsc() {
	clean()
	creating.value = undefined
}

function onWheel(e: WheelEvent) {
	if (e.deltaY > 0) zoomIn()
	else zoomOut()
}

function onRm() {
	svg.value.rm(...selected.value)
	clean()
}

onMounted(() => {
	if (zone.value) {
		const bcr = zone.value.getBoundingClientRect()
		zone.value.scroll({
			top: bcr.height / 2,
			left: bcr.width / 2,
		})
	}
	load()
})
</script>

<template>
	<main
		class="relative h-full w-full overflow-hidden cursor-default select-none whitespace-nowrap text-xs"
		:class="{ 'cursor-crosshair': ctrlLockState }"
		tabindex="0"
		@keydown.ctrl.s.prevent="save"
		@keydown.ctrl.z.prevent="undo"
		@keydown.ctrl.y.prevent="redo"
		@keydown.esc.prevent="printEsc"
		@keydown.delete.self="onRm"
		@wheel.ctrl.prevent="onWheel"
	>
		<div ref="zone" class="h-full w-full overflow-auto no-scrollbar">
			<CanvasApp />
		</div>

		<ShapeMenu
			v-if="commonAncestor"
			:parent="commonAncestor"
			class="absolute z-10 top-1/2 -translate-y-1/2 left-4"
			:class="{ noding }"
		/>
		<ZoomMenu
			class="absolute z-10 bottom-2 left-2 flex items-stretch bg-gray-200 border border-gray-400 rounded-xl overflow-hidden shadow-xl"
		/>
		<FormMenu
			class="absolute z-10 top-1/4 max-h-[50%] overflow-y-scroll overflow-x-hidden right-4 w-96 p-3 bg-white shadow-xl rounded-xl transition-all"
			:class="{ noding }"
			style="scrollbar-width: thin"
		/>
		<HistoryMenu />
		<AnimationsControls class="absolute bottom-2 right-2" />
		<CodeDialog />
	</main>
</template>

<style scoped>
@reference "./style.css";

.noding {
	@apply outline outline-2 outline-red-400;
}
</style>
