@import "@gurso/vg-ui" layer(base);
@import "tailwindcss";

.btn {
	@apply p-2 bg-gray-200 border border-gray-200 rounded-lg cursor-pointer hover:bg-gray-400 hover:border-gray-400 active:bg-gray-300;
}

.btn.alt,
/* TODO: Think about it*/
label.btn.alt-check:has(input[type="radio"]:checked) {
	@apply bg-gray-400 text-white border-gray-400;
}

.btn.danger {
	@apply bg-red-400 text-white hover:bg-red-500;
}

.btn.selected {
	@apply bg-purple-400 text-white;
}

.btn.disabled,
.btn:disabled {
	@apply cursor-not-allowed opacity-40;
}

.no-scrollbar {
	scrollbar-width: none;
}

.field,
input:not([type]),
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="url"] {
	@apply border border-gray-200 rounded-lg p-2 pr-1;

	&.warn {
		@apply border-yellow-400;
	}

	&.error {
		@apply border-red-400;
	}

	&.selected {
		@apply bg-gray-200;
	}
}

input[type="number"] {
	@apply min-w-0 w-16 text-center;
}

input[type="color"] {
	@apply appearance-none min-w-0 w-16 p-0 bg-transparent border-none;
}
