<script setup lang="ts">
import { computed } from "vue"
import { selected } from "../../store/selected"
import { useSelected } from "../../composables/useSelected"
import { svg } from "../../store/canvas"

import BaseForm from "../atoms/BaseForm.vue"
import BaseFieldset from "../atoms/BaseFieldset.vue"
import BaseBtn from "../atoms/BaseBtn.vue"

const { commonAncestor, group } = useSelected()

const sameGen = computed(() => {
	const first = selected.value[0]?.getParent(svg.value)
	return first ? selected.value.every(tag => first.isParentOf(tag)) : false
})
</script>

<template>
	<BaseForm>
		<BaseFieldset legend="Lowest common ancestor">
			{{ commonAncestor.name }}
		</BaseFieldset>
		<BaseFieldset v-if="selected.length" legend="Selected">
			<ul>
				<li v-for="tag of selected" :key="tag.id">
					{{ tag.name }}
				</li>
			</ul>
			<BaseBtn v-if="selected.length > 1 && sameGen" @click="group"> Group </BaseBtn>
		</BaseFieldset>
	</BaseForm>
</template>
